[2021-01-19 13:12] zepatrik commented on #2312
I checked, since using pop we are still using pgx but the version is newer. I'm not sure if that makes the difference though.

[2021-01-20 10:23] jfyne commented on #2312
Just to follow up here, adding `&max_conn_lifetime=20s` fixed our issues.

It is interesting that even though pop uses pgx this started happening again. Anyway i'll leave the fix here and im going to close.

[2021-01-20 10:23] #2312 closed

[2021-01-21 09:02] aeneasr commented on #2312
@vinckr can we document this in ory/docs?

[2021-01-21 09:19] aeneasr commented on #2311
Hey there, yes, https://tools.ietf.org/html/rfc8414#section-2 is actually not supported ATM, we only support OpenID Connect Discovery. Would you be up for some PRs to address this?

[2021-01-21 10:17] vinckr commented on #2312
Sure! You mean in the Hydra docs right?

[2021-01-21 10:33] aeneasr commented on #2312
No, somewhere here: https://www.ory.sh/docs/ecosystem/deployment

Maybe under best practices?

[2021-01-21 14:11] dselyuzhitskiy commented on #2020
What about update like PATCH instead of PUT?  For me 'update' is primarily for updating fields that i specified in request.  I am writing service for updating client callbacks and for this operation i need to get client from hydra and then provide all client configuration with changed fields instead of making just one request with changed fields. What do you think about it?

[2021-01-22 01:56] gbolo commented on #2311
Hi @aeneasr, if this is something you would like to support I certainly don't mind addressing it in a PR. Whats the scope here? I'm assuming its to simply add the supported methods when to the wellknown response when pkce is enabled on hydra. Is that correct? I will familiarize myself with the code base

[2021-01-23 10:02] hgiasac opened #2319 "Support regular expression for dangerous-allow-insecure-redirect-urls flag"
**Is your feature request related to a problem? Please describe.**

Currently the `dangerous-allow-insecure-redirect-urls` flag is compared equality between URLs. It isn't flexible for many use cases.
For example, we have a system that can create subdomains for users dynamically.
- user1.example.com
- user2.example.com
- ...
It seems annoyed to hard-coded every domain. Although the issue doesn't a

[2021-01-24 03:34] Thiritin opened #2320 "Error when using hydra jaeger quickstart"
**Describe the bug**

When using the quickstart for jaeger tracing then hydra does not start with an error.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Start Hydra with `TRACING_PROVIDERS_JAEGER_LOCAL_AGENT_ADDRESS: "jaeger:6831"`

_Server logs_
[code]

[code]

**Expected behavior**

It is the expected that the quickstart should work.

**Environment**

- Version: 1.5.2
- Environ

[2021-01-24 03:37] Thiritin commented on #2320
Fixed by upgrading to the latest version 🦆

[2021-01-24 03:37] #2320 closed

[2021-01-25 08:01] kamedodji opened #2322 "is there a way to migrate to another dsn ?"
**Is your feature request related to a problem? Please describe.**

My current application use postgres sdn and i want to use instead mariadb sdn,
without starting from scratch.

**Describe the solution you'd like**

is there a way to migrate to migrate my original postgres db to mariadb one, with
ory hydra internal tool, like https://www.ory.sh/hydra/docs/cli/hydra-migrate-sql/ ?

**Describe alte

[2021-01-25 08:40] aeneasr commented on #2322
No, there is not an option to do that - you have to do that manually, sorry!

[2021-01-25 08:57] kamedodji commented on #2322
Thanks for your feedback @aeneasr
I was hoping that another user had the same paradigm... ;-)

[2021-01-25 09:01] aeneasr commented on #2319
I don't think we'll merge this, the feature is intended to be a bit tedious to set up, because we don't want people to end up using this in production. By adding more and more capabilities for this, the risk increases. Are you really having a lot of subdomains in your test environment? Could you not just create a static list?

[2021-01-25 09:21] hgiasac commented on #2319
That is just a simple case. We also create dynamic endpoints with random UUID, such as `http://user1.example.com/<uuid>/callback`. We don't think the static list is the good way to do

[2021-01-26 10:08] aeneasr commented on #2311
@gbolo sorry for the late reply. Yes, that is correct, and also add a little test (probably 3-5 lines). If you need guidance I can point you to the files!

[2021-01-27 23:42] synclpz commented on #1756
Any news on this issue?

[2021-01-29 09:03] SCLogo commented on #1574
testing with locust after 1 day we have 21GB data with outdated data. Any plan to review your cleanup process?

[2021-01-29 12:00] aeneasr commented on #1574
Please provide useful information and context as mandated by our contribution guidelines. Also make sure to read the comments in this thread, as a lot of time was spent on this already.

[2021-01-31 13:20] aeneasr commented on #2322
No problem - is it ok if we close this issue as there are no plans to natively support this? You can still ask over at GitHub discussions if someone has some ideas how to achieve this!

[2021-01-31 15:17] VladislavKravitski4888 commented on #1574
As I wrote [here](https://community.ory.sh/t/db-housekeeping/2224) using authorization code flow with refresh token could avoid fast db data increasing. But since a few days we are using ory hydra for production for further approaches and getting thousends of new users every day. That is leading to the same problem. Our tables like hydra_oauth2_authentication_request, hydra_oauth2_code, hydra_oaut

[2021-01-31 20:54] aeneasr commented on #1574
Are you running the flush command?

[2021-02-01 07:00] VladislavKravitski4888 commented on #1574
Yes, we are flushing with a request to "/oauth2/flush" automatically every x hours. As I could see in our logs this only deletes rows from "hydra_oauth2_access". Or is there any dependencies to other ones?

[2021-02-01 08:52] VladislavKravitski4888 commented on #1574
@aeneasr :-) Yes, I'm the author of it :-)

[2021-02-01 09:25] aeneasr commented on #1574
Ah I see, so the issue still persists? Could you maybe show some of the records you think should be purged from the database? Based on that we can craft improved queries for the clean up routine.

[2021-02-01 12:34] DanPinzaru opened #2333 "Add support for context query parameter to store custom data when the init auth flow creates a login request."
**Describe the solution you'd like**

Add support for a query parameter, called "context" (similar to the "Accept Login Request" endpoint) so that the client can store some custom data that can be retrieved along with the login request (using the challenge code).

Endpoint to change:
/oauth2/auth

Every time a login request (via the /oauth2/auth/requests/login?login_challenge=${} endpoint) is retr

[2021-02-01 13:08] aeneasr commented on #2333
Hello, thank you for the idea! This is already possible. Both Login and Consent Requests have a [`request_url`](https://github.com/ory/hydra/blob/master/consent/types.go#L505) which contains the original OAuth2 Authorize URL (e.g. `/oauth2/auth?client_id=...&your_custom_param=...`.

[2021-02-01 13:09] aeneasr commented on #2333
@vinckr we could probably document this in the FAQ or as part of the ory documentation - the question is coming up once or twice a month!

[2021-02-01 13:20] vinckr commented on #2333
Yes definitely! I had no idea there is such an easy solution to this.

[2021-02-01 13:21] DanPinzaru commented on #2333
Brilliant! That does the job, thank you!

[2021-02-01 13:27] aeneasr commented on #2333
Glad it is what you need - I'll keep this issue open. Please reference this in the docs / FAQ PR @vinckr so we can close it.

[2021-02-01 13:33] LAMASE commented on #1574
If those record are "technically valid" and for this they cannot be deleted automatically, there should be a configuration parameter to limit those records or the total space occupied in the database, sacrifying the least recently used / oldest ones, OR (better) a parameter to the purge command to do the same cleaning.

[2021-02-01 13:41] aeneasr commented on #1574
Yes, I agree, but what would be really helpful is some real world examples of rows that you deem obsolete. If we get those, we can easily add this code. Without examples, we are walking in the dark!

[2021-02-01 13:54] LAMASE commented on #1574
You know why records are not deleted, so let's take any db in real world use:
what (and how) will you delete if you need to shrink the db to XX GB? (or a number of records, or handled sessions..)

(I'm still not in production, @VladislavKravitski4888 have you some example data to show?)

[2021-02-01 14:05] aeneasr commented on #1574
To the best of my knowledge, all records might be required for auditing or are required for a functioning system. That's why I am asking. Most people asking about this here are running load tests with synthetic data which does not reflect real world use. This has been explained and discussed in the earlier comments.

**What we need to help you is concrete data, concrete examples, and ideas what re

[2021-02-01 20:58] haslersn commented on #2312
I think this should be reopened until the issue is fixed by default. https://github.com/ory/hydra/issues/1599#issuecomment-540062116 argued not to add `max_conn_lifetime` by default. If that's still the prevailing opinion, then the issue needs to fixed in another way.

[2021-02-01 22:43] aeneasr commented on #2312
The issue is fixed per default, if your network is flaky, or PostgreSQL configured to close connections (see linked comment), then you need to adjust your connection string. Setting an arbitrary default value here will probably not solve network issues as you need to choose the correct values for your environment.

We assume a stable connection per default. If your connection is not stable, you ne

[2021-02-01 23:43] haslersn commented on #2312
Today I had the same problem with broken pipes. I use hydra v1.9 using PostgreSQL 12 (deployed using Zalando postgres-operator), both running on the same bare-metal Kubernetes cluster. Our network is nothing special: 3 nodes, connected on L2, no overlay network.

[2021-02-02 06:56] aeneasr commented on #2333
#2334

[2021-02-02 06:56] #2333 closed

[2021-02-02 11:34] enrico-atzeni commented on #1574
I'm facing same issue already described by @LAMASE and @VladislavKravitski4888.
I have hydra in production with a daily average of 4k login requests started and only 100 completed. This is an average of more than 110k login request never completed logged in database each month.

The real issue comes now that we are replacing separate logins with a centralized single sign-on powered by hydra, incre

[2021-02-03 08:06] haomingyin opened #2337 "/verison endpoint does not return current service version"
**Describe the bug**

/version endpoint doesn't return service version even though the version has been set in environment variables as `VERSION=v1.9.2`

**Reproducing the bug**

Start up with docker-compose file.
[code]

Pass the `VERSION=v1.9.2` environment variable for docker. The endpoint `/version` returns
[code]

Tested for both envrionment and config file. Both of them do not work.

_Server

[2021-02-03 09:13] zepatrik commented on #2337
So are you building the docker image yourself? The version info is taken from https://github.com/ory/hydra/blob/master/driver/config/buildinfo.go
The unset default should therefore be `master`.
Please add some steps to reproduce, including the `docker` commands you execute.

[2021-02-04 07:55] haomingyin commented on #2337
@zepatrik  I didn't build up the docker image myself. I have updated the description with my docker-compose file.

[2021-02-04 09:27] zepatrik commented on #2337
Right, looks like a problem with the build.
Two steps to reproduce:
[code]
returns
[code]

[2021-02-04 09:30] aeneasr commented on #2337
It's probably just using the wrong variable. This works:

[code]

@haomingyin would you be up for a fix? It should be pretty straight forward! :)

[2021-02-04 14:11] nyvelius opened #2338 "Improve error message for SQL connection failure"
The `msg` when failing to connect to a SQL database could be improved. The `error` accurately informs us that the connection was refused, but the message is currently misleading.

Example:
[code]

[2021-02-04 14:49] aeneasr commented on #2338
Contributions welcomed!

[2021-02-04 23:05] haomingyin commented on #2337
@aeneasr  I would love to give it a go, but I got no expertise in golang.  ;(

[2021-02-05 08:18] nyvelius commented on #1041
It seems some frameworks (e.g. Spring Security 2.4.2) don't take take the issuer from openid-configuration, but from the url used to call the openid-configuration endpoint.

https://github.com/spring-projects/spring-security/issues/9410

[2021-02-07 17:59] misha-234927 opened #2345 "No CSRF value available in the session cookie"
0.	I am trying to set up a sample configuration as described in the ORY Hydra 5 Minute Tutorial using ORY Hydra v1.9.2 (binary distribution «hydra_1.9.2_windows_64bit.zip» installed locally on Windows 6.1 (7 SP1).

1.	I run the Hydra server as follows:
[code]

2.	I create a test client as follows:
[code]

3.	I run the user login and consent example app (hydra-login-consent-node) as follows:
[code]

[2021-02-08 08:40] aeneasr commented on #2345
Thank you for contributing to this repository by creating an issue!

Unfortunately, your issue lacks vital information, such as log files, the error message, the software version, your configuration or other pieces of the puzzle.

Please also ensure that your issue is appropriately formatted. If you do not know how to write markdown, you can find help [here](https://guides.github.com/features/mast

[2021-02-08 09:56] Jalr4ever opened #2347 "Update ttl.access_token and ttl.refresh_token dynamically"
**Is your feature request related to a problem? Please describe.**

Hydra is deploy by docker-compose in my Project, and I specified the configurations with `environment` flag, so did flag `ttl.access_token` and `ttl.refresh_token`.

I can't find any way to update `ttl.access_token` and `ttl.refresh_token` dynamically over looking through the ory hydra doc...

**Describe the solution you'd like**

[2021-02-08 10:13] aeneasr commented on #2347
Just update the config value in your config file!

[2021-02-08 11:08] #2345 closed

[2021-02-09 03:33] Jalr4ever commented on #2347
For some scenarios, I need to update these two flags by other services, without reboot the hydra service. It seems like updating in config file unable to reach the ideal result...?

[2021-02-09 12:11] jaylinski commented on #1572
The spec has an example function in the appendix, which takes bytes (and not hex):

[code]
So I think the implementation is correct.

https://tools.ietf.org/html/rfc7636#appendix-A

I'm writing this because I'm experiencing the same error, and I'm pretty sure it's because my application overwrites the verifier (saved in the session) when multiple OAuth2-flows are executed in parallel. So after lot

[2021-02-09 14:09] aeneasr commented on #2347
Ory Hydra supports config hotreloading, you don't need to reboot. Just update the value, the process will see the changes and update the config. To the best of my knowledge, this also works with `ttl.access_token`.

How you do this in your deployment infrastructure - e.g. with Kubernetes Config Maps, shared volumes, ... is up to you!

There are no plans to add a REST endpoint to manage configurati

[2021-02-11 10:56] Crevil opened #2350 "Response code 404 not defined in swagger spec for /oauth2/revoke"
**Describe the bug**

Thank you for a great project and documentation. I ran into a bug (I think) while playing with the 5 minute tutorial.

When revoking an access token that is not found the hydra server returns a 404 response but this is not a defined response in the swagger specification. This leads to an error like `response status code does not match any response statuses defined for this en

[2021-02-12 09:26] aeneasr commented on #2350
Thank you for the report, PRs and fixes appreciated!

[2021-02-12 12:16] Benehiko commented on #2350
The server endpoint specified is incorrect in your command to `hydra token revoke`. Instead of `http://127.0.0.1:4445/` just make it `http://127.0.0.1:4444/`.

    docker-compose -f quickstart.yml exec hydra \
      hydra token revoke \
      --endpoint http://127.0.0.1:4444/ \
      --client-id my-client \
      --client-secret secret \
      a-value
    Revoked OAuth 2.0 Access Token: a-value

H

[2021-02-12 12:42] Crevil commented on #2350
Ah, that is my mistake, I must have misunderstood the help texts.

Is there anything to do on the admin server then? I guess 404 makes sense if the endpoint is unknown to the admin server, but the swagger spec does not allow that.

[2021-02-12 13:28] Benehiko commented on #2350
That's alright, the five minute guide might not be too clear on which command requires which endpoint - admin or public. Will need to look at making it more clear.

Yes the admin endpoints are used for a couple of things, here is the documentation for the admin endpoints:
- https://www.ory.sh/hydra/docs/reference/api/#administrative-endpoints
- https://www.ory.sh/hydra/docs/production#exposing-adm

[2021-02-12 13:37] Crevil commented on #2350
The reference API documentation actually explains is pretty good I think. I used the `hydra` cli which states the following.

[code]

For some reason I though to my self that revocation would be an admin concern, but with the reference docs it is pretty clear that it is a client concern. 👍

[2021-02-12 13:58] aeneasr commented on #2350
Thank you for clearing that up! We generally have a problem with the swagger responses in the CLI commands. The problem is that unspecified error codes (such as 404 - [see example](https://github.com/ory/hydra/blob/master/client/handler.go#L82)), or error responses which are not JSON but instead text (the default httprouter 404 handler in go just prints `404 Not Found`) will cause the CLI to respo

[2021-02-14 09:21] pharman commented on #1574
I can add some more production experience. We have 16m users and handle between .5-1m log-ins per day and around 250-500k token refreshes per day. We have the token flush command running nightly. Here is table size in descending size order. I'll keep this up to date to see how it's changing.

We have had Hydra in production for about 6 months, but we went from ~5m to  ~16m users only a few weeks a

[2021-02-15 09:49] Benehiko opened #2356 "Configuration Web UI (generate hydra.yml | env variables)"
**Is your feature request related to a problem? Please describe.**

When new to Ory Hydra - one of the beginner issues are to understand the configuration file (or environment variables) which are necessary to get started or even the formatting of the config file. It also takes a lot of time to customise and get started with all the different variables one can customise or use.

**Describe the sol

[2021-02-15 10:14] fjvierap commented on #1529
@aeneasr We also require to do some extension to be able to configure different access token TTL per client. I understand the rationale behind keeping short TTLs and refresh it quite often instead of implementing this extension but unfortunately e cannot force all our client applications to do it this way :(  . So, to archive this we will just configure a new `access_token_ttl` field in client met

[2021-02-15 10:48] aeneasr commented on #1529
The clients you serve on your platform need to refresh tokens anyways - regardless of wether it's a long or short period. So why is the duration of a token relevant to them?

[2021-02-15 11:08] fjvierap commented on #1529
We have some cliente which requires longer TTLs than others because they need to limit the situation where async loading on a web page is running into 401s, esp. as the currently implemented fallbacks are not very graceful.

[2021-02-15 14:46] pjediny opened #2358 "SQA_OPT_OUT env var ignored"
**Describe the bug**
https://www.ory.sh/docs/ecosystem/sqa/ describes how to disable SQA, but the hydra is ignoring the setting via env var.

**Reproducing the bug**
Run with env var set `SQA_OPT_OUT=true`
There is no sqa configuration in config file
There is no sqa configuration as command line flag

Check logs for message:
[code]

**Expected behavior**
Expecting `SQA_OPT_OUT=true` to disable tel

[2021-02-15 15:56] aeneasr commented on #2358
Ah yes, thank you for finding this - that's most likely a regression from the recent move to koanf. If you can, could you provide a PR? Highly appreciate your help!

[2021-02-16 11:57] pjediny commented on #2358
Done.

But I could not `go test ./...` as it fails on downloading dependency:

[code]

Tested only by `make docker` and running the image with docker run.

[2021-02-16 14:26] #2358 closed

[2021-02-16 16:53] aeneasr commented on #2356
I think this is a good idea, some people do struggle with the config ("how do I set env vars?"). I think it would make sense to use the configuration schema for this.

As a starter I think a good place would be to improve the output of https://www.ory.sh/hydra/docs/reference/configuration

The script which generates this is this one: https://github.com/ory/docusaurus-template/blob/master/scripts/c

[2021-02-16 16:55] aeneasr commented on #1529
A longer TTL won't prevent that though, in my opinion. The client application should always anticipate that a 401 can happen and handle accordingly. Even if the TTL is 1 day, it can happen that the user hits it at exact that time. Or 1 hour, 1 minute, 1 week, 1 month.

[2021-02-16 17:46] Benehiko commented on #2356
So I have sort of built a web app (in VueJs) based on the schema files found in each project (not sure if this is the right approach) found here:
https://github.com/ory/hydra/blob/master/.schema/config.schema.json

The web app uses the schema to then generate the form, so that any future properties being added or removed won't need major updates to the web app. You can look at it here: https://git

[2021-02-16 18:23] ngrigoriev commented on #1529
There is one factor that is important here - the cost of user authentication when renewing the token (specifically not saying "refreshing"). If it was just a DB lookup, it would not be a problem. In my case, for example, it involves OIDC dialog with a customer's identity provider and this is where I have limited control over their preferences, which may be often expressed in form of their ID_TOKEN

[2021-02-17 06:02] simpleway opened #2363 "redirect behavior change between v1.8.5 and v1.9.x"
**Describe the bug**
The /oauth2/auth changed redirect behavior between v1.8.5 and v1.9.x. If the URLS_LOGIN is an angular UI app that contains /#/ e.g. http://localhost:3000/#/oauth/login
In v1.8.5, /oauth/auth endpoint redirects to "http://localhost:3000/?login_challenge=48ef86fa7f8142099aacbd172628f708#/oauth/login"
However, in v1.9.2 /oauth/auth endpoint redirects to "http://localhost:3000/%23

[2021-02-17 15:02] aeneasr commented on #2363
Thank you for the report - how are you communicating with hydra's login and consent endpoints? Through the Angular AJAX?

[2021-02-17 15:03] aeneasr commented on #1529
@ngrigoriev so you mean doing another oauth2 code grant?

[2021-02-17 15:17] ngrigoriev commented on #1529
@aeneasr Yes, but this is transparent for Hydra itself. My implementation of the login&consent provider, instead of validating the user credentials directly, initiates a OIDC flow towards the appropriate IdP (usually owned by the customer), OIDC magic happens, finally I get the ID_TOKEN from that IdP and accept Hydra's login request. I have some additional query parameters defined for the Hydra's

[2021-02-17 15:18] aeneasr commented on #1529
I see - and you don't have a refresh token to prolong the access tokens when they expire and need to reinit the code grant again?

[2021-02-17 15:20] simpleway commented on #2363
Angular UI will do some processing, and pass the login_challenge to backend service. The backend service will call hydra login and consent endpoints.

[2021-02-17 15:24] aeneasr commented on #2363
Ok good :) Just wanted to make sure!

The problem is probably how we construct the query. In the past, we just appended the query. Now we parse the URL and use `RawQuery` to construct it properly. I think the error comes from there as the url and query parser does not respect the hashbang URLs.

Generally, we don't want to be too favorable to SPAs due to the risk of people using AJAX to communicat

[2021-02-17 16:00] ngrigoriev commented on #1529
@aeneasr Well, that's where the variations may start. The web apps that are SPA and cannot store the refresh token securely cannot use this grant to extend the access token. It could be done, in theory, but I would have to severely refresh the lifespan of the refresh token to an hour or a few hours in this case. Because I still want to make sure that I fail to issue the new access token for the us

[2021-02-19 23:50] rafaeldasilva opened #2366 "Reference to config.md has a broken link"
**Describe the bug**

The link to file "https://github.com/ory/hydra/blob/undefined/docs/docs/reference/config.md" which is indicated on pages such as
https://www.ory.sh/hydra/docs/cli/hydra-serve is broken

I see the file was renamed to https://github.com/ory/hydra/blob/master/docs/docs/reference/configuration.md

**Reproducing the bug**

Steps to reproduce the behavior:

Click on "https://github

[2021-02-20 01:51] Jalr4ever commented on #2347
Thanks for your reply.

[2021-02-20 01:51] #2347 closed

[2021-02-20 10:36] zepatrik commented on #2366
Weird that there is `undefined` in the link. All of the occurrences are in the CLI docs, so the problem is somehow related to how we generate them.

[2021-02-20 19:31] lukestoward commented on #2338
^ I've had a go at categorising the error to avoid the misleading message. This is very generalised though and is only a small QoL improvement.

[2021-02-24 08:39] jonkjenn commented on #1569
@aeneasr This wouldn't directly give us the URI we need to complete though right?

[2021-03-01 17:37] #2338 closed

[2021-03-02 16:48] aeneasr commented on #1529
I see your point. How could we prevent abuse though? My fear is that developers will try to work around refreshing completely and just set the TTL to infinity for the clients they are "too lazy" to fix. How can we enable your use case while prevent malpractice?

[2021-03-02 17:14] ngrigoriev commented on #1529
I believe that the healthy way would be to have the default token lifespan and the maximum lifespan. Both would be set by the administrator of the authorization service according to the organization security requirements (e.g. infinity will not be an option for the developers). So, for the individual application, the freedom would be only between the default and maximum. Personally, for our organi

[2021-03-03 09:59] dselyuzhitskiy commented on #1569
We have sometimes same problem but i have np idea how to reproduce such situation

[2021-03-03 11:02] dselyuzhitskiy opened #2377 "Shorten log string about redacted sensitive info"
**Is your feature request related to a problem? Please describe.**

For common request, that have cookie value and query i see twice such message

I think it is so long and unuseful

**Describe the solution you'd like**

May be just write 'redacted'

[2021-03-03 16:43] aeneasr commented on #2377
Redacted is missing instructions how to remove the redacted value - which is why we added it in the first place because people asked about it. How can we serve both purposes?

[2021-03-03 16:44] aeneasr commented on #1569
I don't understand what you are asking @jonkjenn - it gives you the full initial request url. Check the payload ;)

[2021-03-03 16:51] zepatrik commented on #2377
Maybe we can have `redacted - see https://ory.sh/redacted` that redirects to a docs page?

[2021-03-03 16:55] aeneasr commented on #2377
Ah, nice idea - react does this with error codes which redirect to a docs page. We could probably replicate that infrastructure?

[2021-03-03 16:57] zepatrik commented on #2377
Absolutely, as @Bin-fluence would say. That's where I got the idea from :wink:

[2021-03-03 23:09] jonathan-neufeld-asurion commented on #2312
We're running into the same issue, K8s + PG v11.8 + Hydra v1.9.1
What is the rational behind a connection timeout of 20s? is it arbitrary?

[2021-03-03 23:10] jonathan-neufeld-asurion commented on #2312
What is the rational behind the connection timeout of 20s? is it arbitrary?

[2021-03-05 04:01] verzac opened #2382 "hydra token user: add ability to not terminate on successful auth flow"
Either way, this is a nice-to-have, so it's not 100% necessary - just wanted to get the idea out there and looked at just in case a contributor comes along and wants to contribute. Happy to help when I have the time though!

**Is your feature request related to a problem? Please describe.**

When I'm testing the auth flow locally with the custom IdP I'm developing, I'd like for the token client to

[2021-03-05 08:10] fjvierap commented on #1529
We have done a change in https://github.com/ory/fosite for do not use the TTL configured globally but the one configured in client metadata if defined...

Something like:
[code]

We did it for access token and refresh toke.. Please let me know if you consider that an valid option and I can create MR for it...

[2021-03-05 16:16] Benehiko commented on #1574
Hi all,

Please review this draft PR https://github.com/ory/hydra/pull/2381
Add any concerns you have there and we'll see to it that it's addressed :)

[2021-03-05 17:18] aeneasr commented on #1529
While I think that this is a good approach, I fear that this is not the most optimal solution - let me explain. OAuth2 clients are usually created by a third party / user / developer. They create the client, configure it, and so on. This goes even so far that we have OpenID Connect Dynamic Client Registration (https://openid.net/specs/openid-connect-registration-1_0.html) which is also supported b

[2021-03-05 17:36] aeneasr commented on #2382
Sounds good to me! Would you be up for a contribution? :) `state` and `nonce` should probably be regenerated when we redo the flow :)

[2021-03-05 17:47] glerchundi commented on #1529
I’m in with this proposal of having a list of overriden TTLs per clientID.
It could help us solving our SPA issues like the one it was mentioned in
this thread.

Thanks!

On Fri, 5 Mar 2021 at 18:19, hackerman <notifications@github.com> wrote:

[2021-03-05 17:50] aeneasr commented on #1529
I think that's probably the most reasonable path forward! If anyone wants to contribute this and needs pointers please let me know!

[2021-03-05 20:29] mbonnell-wish commented on #1487
Just discovered this issue on our side :) will be working on this today.

[2021-03-05 22:57] mbonnell-wish opened #2385 "feat: Support partial client updates"
**Is your feature request related to a problem? Please describe.**

Currently, the only client updates supported by the REST API are updates with PUT semantics, meaning the entire client gets replaced. This is undesirable when one only wants to update a certain property, like a callback URI.

This desire is referenced [here](https://github.com/ory/hydra/issues/2020#issuecomment-764668918) and [her

[2021-03-07 14:45] #2382 closed

[2021-03-07 15:40] mattbonnell commented on #2385
@aeneasr let me know if you'd be open to accepting a PR for this feature 😄
Would be a little bit of work so just want to get the green-light from you before I start on it.

[2021-03-07 15:52] aeneasr commented on #2385
Yes, that would be great! There's an open issue for discussing ideas how to do this here: https://github.com/ory/meta/issues/2

[2021-03-07 18:24] #1487 closed

[2021-03-09 06:29] jonkjenn commented on #1569
@aeneasr
`PUT oauth2/auth/requests/login/accept?login_challenge=12387zb3281` returns ` "redirect_to": TARGET_URI` and
 `TARGET_URI` contains `login_verifier`.
All attempts to retry this `PUT` gives `409` so when the request fails, and we don't receive `TARGET_URI`, it seems impossible to get the `login_verifier` which is required to continue the login. Am I missing something?

[2021-03-09 11:11] verzac commented on #2057
Hey team,

Is there already work done for this? Currently being hit by the same issue (either that or my perception of time was slightly bended).

I initially check whether or not the login challenge is valid through the admin client (in the Go SDK: `a.Admin.GetLoginRequest`), and everything seems to work just fine - no 4xx or 5xx or any other funky status codes. However, when I try to redirect th

[2021-03-09 14:49] svrakitin commented on #2022
Implemented in fosite. Work to support this in hydra is tracked in #2383

[2021-03-09 15:52] pharman commented on #2022
👍

[2021-03-10 12:58] aeneasr commented on #1569
You can't complete something that is expired. I already said what you need to do: https://github.com/ory/hydra/issues/1569#issuecomment-739573442 - it reinitializes the flow without a timeout.

[2021-03-10 19:01] hypnoglow commented on #1569
We are doing kind of similar thing to workaround the issue currently. In particular:

1. After user gets redirected to our Identity Provider with login challenge, we cache some details of the login request including `redirect_uri`. We need to cache it because login process can consist of multiple steps.
2. If there is a conflict when we try to accept login request, we retrieve these details from c

[2021-03-11 01:02] jfarleyx opened #2401 "REST API Token Introspection Endpoint - request_unauthorized (401)"
**Describe the bug**
When calling the REST API's token introspection endpoint, passing it a JWT access token acquired via the client-credential flow, I receive the following error message:
[code]

I can take the same access token that generated the response above and perform token introspection using the CLI without any issue.

The client is configured to use the default "client_secret_basic" auth

[2021-03-11 06:37] aeneasr commented on #2401
The body must be in URL form, `foo=bar&baz=zab`

[2021-03-11 10:40] aeneasr opened #2402 "Investigate flaky cockroach + jwt e2e test"
**Describe the bug**

https://app.circleci.com/pipelines/github/ory/hydra/2094/workflows/4d75901f-da56-4790-9491-137747e6da46/jobs/30293/parallel-runs/0/steps/0-114

**Reproducing the bug**

Run the test the CI runs locally a couple of times (probably). Most likely something to do with timeouts.

Recording can be found here: https://dashboard.cypress.io/projects/jrwjzp/runs/22/overview

[2021-03-11 12:50] jfarleyx commented on #2401
@aeneasr That was it. The error message had me focused on the Authorization header and I overlooked the format of the body. Thank you! Closing issue.

[2021-03-11 12:50] #2401 closed

[2021-03-11 18:49] robinmanuelthiel opened #2403 "Readiness/Liveness probe fail, when dangerous-force-http ist not set (Kubernetes)"
**Describe the bug**

When deploying version `v1.9.2` to Kubernetes without adding `--dangerous-force-http` to the pod args, the Pod never comes up and stays Unhealthy due to failing probes. When port-forwarding the service, this can be confirmed, as calling `/health/ready` returns an `500: Client sent an HTTP request to an HTTPS server.` error.

**Reproducing the bug**

Steps to reproduce the beh

[2021-03-17 10:38] diefans commented on #1482
anything new about this?

[2021-03-17 12:00] monwolf opened #2407 "FEAT: TTL_ACCESS_TOKEN per client"
Hi,
We are using hydra for a while but for some necessities we should specify a different TTL for one of our clients without changing all of them.  In others solutions you can specify the TTL of the token by clientid. Could you add this functionality?

Regards,

[2021-03-17 12:02] aeneasr commented on #2407
https://github.com/ory/hydra/issues/1529

[2021-03-17 12:02] #2407 closed

[2021-03-18 14:50] borchero commented on #1962
Has there been any progress regarding this issue?

[2021-03-18 14:55] vladfaust opened #2409 "Generated token begins with dash: can not introspect"
**Describe the bug**

`hydra client create` may generate a token beginning with dash, e.g. `-ob80o50jO84ctxaAWaj73Vh9zvvv1n2_svhSVvum66w.-UUBNiuYFR66EDiuksdxqU4-A2ynnrmDRVy-tytEEtk`. Running `hydra token introspect -ob80o50jO84ctxaAWaj73Vh9zvvv1n2_svhSVvum66w.-UUBNiuYFR66EDiuksdxqU4-A2ynnrmDRVy-tytEEtk` then fails with:

[code]

**Reproducing the bug**

Steps to reproduce the behavior:

1. Run `hy

[2021-03-18 15:28] synclpz commented on #2004
It's actually not the same as Device flow, CIBA is something like "user clicks auth button on a site via desktop browser, then a push is sent to mobile app with request of auth, user confirms and the browser on a desktop proceeds to authenticated area/performs requested action on behalf of user"

[2021-03-18 15:29] synclpz commented on #2004
Nice to have feature to implement action authorization or step-up authentication in banking apps

[2021-03-19 08:16] aeneasr commented on #1962
The label "help wanted" has been applied to this issue, indicating that we need help to implement it. Unless there are people in this issue saying they are working on, there is no one working on this. The "help wanted" label is also applied to issues that are not hard to implement, meaning it is the best opportunity to make the change yourself and open a PR. Good luck! :)

[2021-03-22 09:36] aeneasr commented on #2409
https://unix.stackexchange.com/questions/303929/handling-names-with-leading-dash-in-bash-shell

[code]

[2021-03-22 09:36] #2409 closed

[2021-03-22 23:31] james-d-elliott opened #2415 "RFC8615 Well Known URIs: jwks.json"
**Describe the bug**

So my understanding based on [RFC8615](https://tools.ietf.org/html/rfc8615) and the [IANA assignments](https://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml) is that jwks.json shouldn't be part of the .well-known as they must be registered with IANA.

Looking at the git blame it appears it was introduced 4 years ago in #427. I am opening this issue to ascerta

[2021-03-23 09:35] #2022 closed

[2021-03-23 09:43] lukestoward opened #2416 "Device Authorization Grant: RFC 8628"
Hi!

We (myself and my colleague) are evaluating Hydra for a current project we are working on in our organisation. But we would like to extend it by adding the [Device Authorization Grant](https://tools.ietf.org/html/rfc8628) flow and as such, would like to start a discussion on what components need to be changed in order to potentially contribute to the project and open a PR that includes this f

[2021-03-23 14:17] klvnnsrikanth opened #2418 "Disable offline, offline_access, openid scopes for clients"
I have a use case where I am using Hydra as a oAuth server and not for OIDC.
I see that by default the clients that I create get offline, offline_access and openid scopes.

Is there a way to disable adding these scopes by default?

[2021-03-23 14:26] #2418 closed

[2021-03-23 22:37] snikch commented on #1569
Just adding my voice here as another user who is affected. The use case we are seeing is

* User lands on login page
* User submits the form twice in quick succession
* First request accepts the login
* Second request attempts to accept the login, receives an error.

In the context of this second request, we ideally would like to know where to send the user to continue on with the flow.

One thing

[2021-03-24 15:35] aeneasr commented on #2416
Thank you for the detailed explanation - we definitely want to support the device auth grant type! The two additions - endpoint and new grant type - will indeed have to be implemented in fosite and we'd be more than happy to help you along the way, if you need it.

Regarding the UI flow I would need to read more about the spec first. But I generally think this is easily possible to add and also so

[2021-03-24 19:58] #1574 closed

[2021-03-24 20:01] aeneasr commented on #1574
We are happy to announce that `hydra janitor` will be part of the next 1.9.x release due tomorrow (if everything works fine). Use with caution, as it is a new feature, but please report your results here! Thank you for everyone's input :)

[2021-03-24 22:17] corrideat opened #2422 "urls.self.public gets ignored in most cases in favour of urls.self.issuer"
**Describe the bug**

**Reproducing the bug**

Steps to reproduce the behavior:

1. Set up the quickstart guide
2. Before launching, add the following environment variable to `hydra` in `quickstart.yml`: `URLS_SELF_PUBLIC=http://this.domain.does.not.exist.and.is.invalid`
2. Run the quickstart guide normally
3. The demo continues to work normally

_Server logs_

Not relevant

_Server configuration_

[2021-03-25 00:27] github-actions[bot] opened #2423 "upstream reference closed: github.com/ory/hydra/issues/1574"
The upstream [issues](https://github.com/ory/hydra/issues/1574) got closed. It is referenced in:
- [ ] [x/fosite_storer.go#L48](https://github.com/ory/hydra/blob/master/x/fosite_storer.go#L48)

This issue was created by the [ORY Closed Reference Notifier](https://github.com/ory/closed-reference-notifier) GitHub action.

[2021-03-25 11:45] lukestoward commented on #2416
Ok thanks @aeneasr, I will start by taking a look at the changes in fosite.

[2021-03-26 12:34] nyvelius opened #2429 "Hydra CLI tool connection issue"
**Describe the bug**

Unable to run migration, apparently due to a connection issue in the cli tool.

**Reproducing the bug**

For some reason, the hydra cli tool is not able to connect to the database.
[code]

Connecting using psql works.
[code]

Connecting to localhost from the IntelliJ database plugin using an SSH tunnel also works.

[2021-03-26 13:33] aeneasr commented on #2429
You are running docker and ask hydra to connect to localhost - so the docker - where there is no postgres running. This can not work. Please read about docker networking or try one of our quickstarts which have everything set up so you don't have to worry about it!

[2021-03-29 08:37] aeneasr commented on #2415
The path is correct, it is an OpenID standard. Changes to the path can not be accepted.

[2021-03-29 10:13] james-d-elliott commented on #2415
Out of curiosity where could I find the specific that outlines this?

[2021-03-29 11:03] aeneasr commented on #2415
https://openid.net/specs/openid-connect-discovery-1_0.html

[2021-03-29 19:40] james-d-elliott commented on #2415
Thanks!

[2021-03-30 20:45] anderslauri commented on #1542
@aeneasr,

I would be keen on taking on this task, we're expericing issues due to clock skew issues and making `nbf` would save us some headach. I see @Benehiko is assigned this task, however, would it be in order if I were to provide a PR within the next few days?

Thank you.

[2021-03-31 08:10] aeneasr commented on #1542
Yes, sounds good! I will unassign @Benehiko

[2021-03-31 11:55] fjvierap opened #2436 "ImportKeys command does not support updates?"
**Describe the bug**

While importing keys keys are not update but removed if they were already presented.

**Reproducing the bug**

Steps to reproduce the behavior:

Run `keys import setName priv.pem pub.pem --skip-tls-verify` once
Check `setName` is presented in table `hydra_jwk`
Run again `keys import setName priv.pem pub.pem --skip-tls-verify`
Check `setName` is not presented in table `hydra_j

[2021-03-31 17:39] Hyhy1878 opened #2438 "Jj"
**Describe the bug**

A clear and concise description of what the bug is.

**Reproducing the bug**

Steps to reproduce the behavior:

_Server logs_

_Server configuration_

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment**

- Version: v1.2.3, git sha hash
- Environment: Debian, Docker, ...

**Additional context**

Add any other context about th

[2021-03-31 19:38] #2438 closed

[2021-04-01 10:12] dominik-lekse commented on #1542
@anderslauri Thanks for taking this. We have a related issue which is fixed by your PR.

[2021-04-04 10:51] #1542 closed

[2021-04-04 11:04] #2422 closed

[2021-04-05 19:26] brentjanderson commented on #1253
A little late to the party, @woutor I'm under the impression that while `0.0.0.0/0` would make the instance insecure in general, Heroku doesn't allow direct instance access. Because all access must go through the Heroku router, then while technically insecure it's not a problem in this instance.

[2021-04-06 09:11] Demonsthere commented on #2403
Hello there,
I think a simple solution would be to modify the probe definition and add the scheme to it:
[code]

[2021-04-07 11:04] kobayashilin opened #2447 "May we make the Jaeger configuration maxTagValueLength be configureable ?"
**Is your feature request related to a problem? Please describe.**

May we make the Jaeger configuration maxTagValueLength be configureable for [ory/x/tracing tracer.go](https://github.com/ory/x/blob/master/tracing/tracer.go) ?
The default length 256 isn't enough for we observe the query.

**Describe the solution you'd like**

Configuration in yaml like

[code]
**max_tag_value_length: 10240**

Tha

[2021-04-07 15:17] vinckr commented on #2366
So for example in [serve.go](https://github.com/ory/hydra/blob/master/cmd/serve.go) it says:

So changing config.md to configuration.md
and making sure that config.Commit is not `undefined` but `master` should fix it.
Not sure where or how the config.Commit is broken, investigating further.

[2021-04-07 16:40] vinckr commented on #2366
Looking through the history it seem it never really worked, was always `undefined` as far as i can see.

[2021-04-08 06:19] aeneasr commented on #2447
Makes sense, PRs welcomed!

[2021-04-08 23:40] radekg commented on #2337
Could this be related to this code not setting the version from the config? https://github.com/ory/hydra/blob/master/internal/httpclient/client/admin/admin_client.go#L832

[2021-04-09 17:43] mitar opened #2453 "Support ES256"
So fosite has ES256 support, I have seen some past PRs to support ES256 in Hydra (https://github.com/ory/hydra/pull/628, https://github.com/ory/hydra/issues/627), but looking at the code I do not see it really being supported in Hydra.

While RS256 is recommended by [the spec](https://tools.ietf.org/html/rfc7518#section-3.1), ES256 is close to that with its "Recommended+" recommendation. Supportin

[2021-04-10 05:45] mitar opened #2456 "userinfo endpoint returns fields even when openid scope was not granted/requested"
**Describe the bug**

I am looking at the userinfo endpoint in Hydra and from my testing it looks like it is returning fields even when there is no ID token associated with the access token, e.g., the `openid` scope was not granted/requested in the first place.

I tried to understand what the spec says in this case, but I could not find anything relevant. In any case, I think it should or return a

[2021-04-12 09:40] anderslauri commented on #1693
Is this highly sought after? We are facing this complexity at the moment and I could help with this. Currently I'm thinking of tackling this through the `LogoutProvider` as it deems to be possible.

[2021-04-12 10:55] vinckr commented on #1693
@anderslauri
We could ask around in the chat community, if there is anyone else who would be interested in this feature?
Feel free to message me and we will figure it out.

[2021-04-12 18:17] medexton commented on #1974
I was able to achieve the desired behaviour by making the following change. A bit lazy as it doesn't validate much but got the job done.

[https://github.com/ory/hydra/blob/40b09cdf69ad5cdb27c35493e345fbf9b97a7b1b/oauth2/session.go](url) line: 57

from: `Extra:     map[string]interface{}{"ext": s.Extra},`
to: `Extra:     s.Extra,`

[2021-04-12 22:25] ppawliczek opened #2462 "Public endpoints different than issuer"
**Describe the bug**

In the configuration there are parameters urls->self->public (URLS_SELF_PUBLIC) and urls->self->issuer (URLS_SELF_ISSUER). The former one is described as "This is the base location of the public endpoints of your ORY Hydra installation.". However, when I tried to set URLS_SELF_ISSUER to different value, the authorization and token endpoints reported in the metadata file (.../

[2021-04-14 07:42] aeneasr commented on #2337
No it's probably in driver or cmd/daemon

[2021-04-14 07:51] honzapatCZ opened #2467 "Get Client in Logout"
**Is your feature request related to a problem? Please describe.**
Well, I wanted to make the logout endpoint consider some stuff in the client metadata(eg firstparty) to skip the UI even when its Client initiated request.

**Describe the solution you'd like**
I suppose extending the endpoint for passing along the client too(which is there already so idk why its not passed)

**Describe alternative

[2021-04-14 08:29] #2467 closed

[2021-04-14 08:39] aeneasr commented on #2462
Ah this looks like a regression from a recent patch we merged. You are correct, issuer should only be used for the issuer values. Would you be open to a PR?

[2021-04-14 08:52] aeneasr commented on #2456
Thank you for contributing to this repository by creating an issue!

Unfortunately, your issue lacks vital information, such as log files, the error message, the software version, your configuration or other pieces of the puzzle.

Please also ensure that your issue is appropriately formatted. If you do not know how to write markdown, you can find help [here](https://guides.github.com/features/mast

[2021-04-14 15:26] kmandeville commented on #257
I have a question. My application uses the URL path to discern between different customers domains, like http://localhost/customer1/app, and http://localhost/customer2/app. Because of this, we've always been doing a partial match on the beginning of the url with just the scheme and domain. Now with these changes per the CVE, we'd have to do full match, which as you can see won't be possible with t

[2021-04-16 13:00] svrakitin commented on #1962
@aeneasr I am going to work on this one.

[2021-04-16 14:27] synclpz opened #2474 "Ability to limit offline access time"
**Is your feature request related to a problem? Please describe.**

I need a way to limit offline_access time on a mobile app client. So user will be required to make consent again (in a month, for example). From client's point of view it should just be like an expired refresh_token.

**Describe the solution you'd like**

I need refresh tokens for a specific client to become expired at specific po

[2021-04-16 14:29] synclpz commented on #2474
Discussed here https://ory-community.slack.com/archives/C012RBW0F18/p1618509467183800

[2021-04-16 20:24] synclpz commented on #2474
Exact same scenario is desribed in a draft of browser-based app (SPA) security considerations while using refresh tokens here https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-07#section-8

[2021-04-16 20:59] synclpz opened #2477 "No support for refresh_token without offline_access scope"
**Describe the bug**

No refresh_token is issued if consent flow does not add `offline`/`offline_access` scope. There's no way to refresh an access token for SPA without using kinda 'deprecated' `prompt=none` flow.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Run 5-minute tutorial (https://www.ory.sh/hydra/docs/5min-tutorial) -- OAuth 2.0 Authorization Code Grant
2. After redirec

[2021-04-16 22:03] aeneasr commented on #2477
1. `offline_access` is an OpenID Connect standard - removing it would break certification. The current behaviour is correct.
2. The linked blog post explains something unrelated - refresh token rotation and refresh token reuse detection. **Both of which are supported by Ory Hydra.**

[2021-04-16 22:50] synclpz commented on #2477
1. I do not request removal of `offline_access` of course!
2. The linked blog post explains the need for refresh tokens in an SPA

From OIDC Core:

[code]
[code]

So this issue may be converted to a feature request in case that is not yet implemented. I just thought it's a bug.

[2021-04-17 08:30] aeneasr commented on #2477
I see, but I don't understand the problem. When would you not be able to send that scope along in the request? Using an SPA does not prevent you from adding `offline_access` to the list of the requested scopes.

[2021-04-17 20:42] synclpz commented on #2477
At the moment getting a refresh token allows SPA to indefinitely, regardless of login/consent expiration, have access to my API or (in case of token misuse/XSS in SPA) allows adversary to have access not from SPA. What I need is to limit refresh-ability to user session on Hydra, thus not offline, but online access.

[2021-04-18 07:22] aeneasr commented on #2477
I see - so you want the refresh token only to be granted as long as the user is signed in in Ory Hydra? Are you looking at a first-party use case for your SPA?

[2021-04-18 07:50] aeneasr commented on #2453
Contribs welcomed!

[2021-04-18 15:28] svrakitin commented on #2477
This would be a really interesting feature not covered by spec. Something like `online_access` granted scope which we can handle in `/oauth2/token` handler, before calling fosite. There we could compare `sid` of the refresh token with the `sid` value of `oauth2_authentication_session` cookie.

[2021-04-18 21:49] synclpz commented on #2477
This could be either first- or third-party case, the main point is that SPA developer is not trusted to be careful enough with indefinitely refreshable token, because current Hydra's behavior is to grant access via refresh token even if user consent is expired. I'd rather made offline_access allowed until consent is expired and online_access allowed until login is expired.

If cookie in DB is not

[2021-04-19 07:38] jamesweb1 commented on #1396
@aeneasr I understand the typical flow is 'Authorization Code Grant Flow', but I cannot figure out how to setup for the public client (official app or native app). I follow the example as following:

Create client:
[code]

User authenticate:
[code]

And it shows the error as in the original post:
[code]

My question is how to combine the OAuth2.0 flow when we want to get the access token in our of

[2021-04-21 18:42] ppawliczek commented on #2462
#2441 should fix it

[2021-04-22 06:50] aeneasr commented on #2477
So in Ory Hydra it's not easy to tell when the login is invalid and we also do not track what tokens have been issued by what sessions. So this is significant work plus `online_access` scope is nothing I have encountered in the wild yet - meaning it is something specific to Ory Hydra and not "common practice".

Instead I would propose that we allow you to configure if the refresh tokens should hav

[2021-04-22 09:11] fjvierap commented on #2416
Hi @lukestoward @aeneasr thanks for the great explanation about what needs to be done for support authorization grant flow. In my project we ara also using hydra and we need that feature so we plan to start the adjustments in fositie and hydra in the next weeks.  Our draft road map for it will be:

- Adjust fosite to add device authorization grant flow handler, factory, code generation strategies,

[2021-04-22 09:29] lukestoward commented on #2416
Hi @fjvierap, I am actively working on the changes to support this flow in both fosite and Hydra. Obviously, I don't want to discourage you from implementing these changes yourself, however, this might be an opportunity to work on/review this change collaboratively. I am new to the Hydra code base and am still building my mental model of how it functions internally. I'm not sure if you have any ex

[2021-04-22 09:57] fjvierap commented on #2416
@lukestoward Absolutely it is a great opportunity to collaborate and contribute to hydra together. :) We have done some changes in hydra and some other repos around it so we have not much, but some experience in the code base... So of the changes we did are merged already, some other under review and other are in our internal repos as there are good reasons for hydra to do not include then into th

[2021-04-22 10:09] tacurran commented on #2416
@lukestoward @fjvierap perhaps we can set up some time to give you an orientation the the Hydra code base? Please let me know if that would be helpful.

[2021-04-22 10:13] lukestoward commented on #2416
@tacurran yes this would be very helpful. Happy to coordinate this via the Ory Community Slack if that's easier?

[2021-04-22 10:13] fjvierap commented on #2416
@tacurran that would be great!

[2021-04-22 12:33] esunea commented on #923
Hello,
I got the same issue, i was using a reverse proxy.
My self issuer url didn't matched the url i used for the first connection, hence the CSRF error.

try double checking the domain name everywhere you use it !

[2021-04-22 14:25] overshareware commented on #1748
Hi, I noticed this ticket is listed on the roadmap for 1.11; can you confirm if you're going to be implementing this as described?

I've been evaluating Hydra for use in some of our infrastructure and have a very similar scenario to what @redbaron described. I'm interested in the timeline for being able to manage claims like this.

[2021-04-22 14:27] aeneasr commented on #1748
While I understand that a date of delivery is helpful when planning, we stopped giving out due dates for features or milestones. It puts maintainers in an unfair spot as

1. there are many things going on in the community which need time (reviewing PRs, addressing issues, answering questions) and demand is no not easily foreseeable;
2. maintainers do a lot of things in their free time and can not

[2021-04-22 15:30] overshareware commented on #1748
Sorry, I wasn't trying to grill you on a date; I understand your point and appreciate all the work you are doing!

I was mostly just interested in an update on where you were at mentally with a solution to this problem, and what to do about the client_credentials claim. I really like Hydra and it fits our needs much, much better than Keycloak, etc. The one thing I'm wrestling with is the service a

[2021-04-22 16:00] romanlytvyn opened #2485 "Session duration > 30 days not supported"
**Describe the bug**

Session duration >30 days (86400 * 30) is not behaving properly.
`oauth2_authentication_session` cookie is rejected after 30 days regardless of specified expiration time.
The session cookie expiration can be set at 10 years from now, but hydra rejects it after 30 days.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Initiate auth flow via `/oauth2/auth` endpoin

[2021-04-22 16:06] lukestoward commented on #2416
Regarding the implementation, I've encountered a design issue with how we _could_ store the `device_code` and user_code` values that I would like to open up for discussion. Fosite appears to operate the storage interfaces around a signature of some value and the `Requester` interface. As a result, I believe this would mean we would need to store the two codes individually. In Hydra's SQL store for

[2021-04-22 16:21] synclpz commented on #2477
I'd prefer to submit a "rolling and window size" or "fixed time exactly YYYY-MM-DD..." through PUT on consent endpoint if it is possible

I read this of course, but I think this would become not so true as the approach of using refresh_tokens in SPA instead of silent refresh (prompt=none) becomes more adopted.

[2021-04-22 19:11] ghenry opened #2487 "Packaging - Debian and Fedora"
Hi all,

Would you be interested in creating a deb repo and rpm repo?

Examples from another go project are below and I can retro fit and submit a PR. The repos would need to be hosted by the project. It would make deploying on VMs easier versus pulling the binary and doing all the systemd things ourselves:

https://github.com/cgrates/cgrates/tree/master/packages

Thanks,
Gavin.

[2021-04-22 19:14] romanlytvyn commented on #2485
One easy fix could be to disable `SecureCookie` `MaxAge` check inside `CookieStore` by setting `MaxAge` to `0` after initialization:
https://github.com/ory/hydra/blob/2287ac592fc5a06b1bd3e9f54340a67395452b46/driver/registry_base.go#L242
[code]

Alternatively, instead of hardcoding `0`, a new hydra config can be exposed to control `CookieStore` `MaxAge` value.

[2021-04-23 01:28] hash opened #2489 "Unable to go get"
**Unable to go get**

**Reproducing the bug**

Steps to reproduce the behavior:

[code]

**Expected behavior**

Expected that `go get -d github.com/ory/hydra` would work

**Environment**

- Windows 10 10.0.19042
- go1.16.3.windows-amd64.msi

**Additional context**

N/A

[2021-04-23 05:45] aeneasr commented on #2487
Contributions welcomed!

[2021-04-23 06:46] fjvierap commented on #2416
I also think it is better to have `device_code` and `user_code` in the same table.  What I don't understand is why it is a deviation from the existing storage interface approach? :) At the end the request model represent a single request it where we can determine whet to use an ID(Pk). int this case we can have the `device_code` as we can set to a uuid for instance. And having an extra unique colu

[2021-04-23 08:33] lukestoward commented on #2416
Yes this makes sense. I believe to enable this we'd have to add a slightly different storage interface. If you look in fosite, the Create* AuthorizeCodeSession, AccessTokenSession, RefreshTokenSession etc. all have a function signature that expects a `signature` and a `request`, which means they support only a single identifier, which is used as the primary key by Hydra. This appears to me that in

[2021-04-23 08:49] #2447 closed

[2021-04-23 11:19] #1569 closed

[2021-04-25 20:01] #2485 closed

[2021-04-26 00:12] github-actions[bot] opened #2498 "upstream reference closed: github.com/ory/hydra/pull/2488"
The upstream [pull](https://github.com/ory/hydra/pull/2488) got closed. It is referenced in:
- [ ] [driver/registry_base.go#L246](https://github.com/ory/hydra/blob/master/driver/registry_base.go#L246)

This issue was created by the [ORY Closed Reference Notifier](https://github.com/ory/closed-reference-notifier) GitHub action.

[2021-04-26 13:40] svrakitin commented on #1383
@aeneasr Is it possible to solve this by introducing configurable webhook which can be called when there is a `client_credential` or any other machine-to-machine flow? This could be a global setting like `urls.client_credentials_webhook`.

Hydra could `POST` to this webhook with a request context and expect implementation to respond with a payload similar to one for accepting a consent, which cont

[2021-04-26 15:27] zhanghj7 opened #2500 "Bearer Token authenticated"
Self-generated Bearer Token authenticated in ory hydra，
My own system has generated the token,  how can I authenticate it in the Ory Hydra？
Can I get through？

[2021-04-26 15:41] #2500 closed

[2021-04-26 19:55] #1962 closed

[2021-04-26 19:56] #1231 closed

[2021-04-27 05:41] seremenko-wish opened #2502 "Excessive Prometheus label cardinality issue"
**Describe the bug**
Excessive Prometheus metrics cardinality causes server degradation. `MetricsManager` middleware creates a new label for all unique URLs, which results in server resources depletion and eventually, panics (see https://github.com/ory/hydra/blob/master/metrics/prometheus/middleware.go#L30). So even a very short-lived pentest scan can generate hundreds of thousands of new metrics

[2021-04-27 11:59] #2363 closed

[2021-04-27 13:51] ab316 opened #2505 "Update Client endpoint can not handle simultaneous requests property"
**Describe the bug**
I am trying to add audiences to a client using the Update Client request from multiple applications.
The problem is that when multiple requests come to Hydra simultaneously to add an audience, only some audiences are added.
The problem seems to be that the update is carried out without locking the client in the database.

**Reproducing the bug**

Steps to reproduce the behavio

[2021-04-27 19:09] ghenry commented on #1762
Would token_type be Bearer or bearer?

[2021-04-28 07:46] aeneasr commented on #2505
What database are you using?

[2021-04-28 08:29] ab316 commented on #2505
@aeneasr Postgres 13

[2021-04-28 20:03] aeneasr commented on #2505
Thanks, I thought it might be an issue with SQLite but this looks more like a repeatable read issue. Any pointers are welcomed - we probably need something like `SELECT ... FOR UPDATE` but not sure.

[2021-04-29 07:17] TVenuMadhav opened #2507 "TTL: 1 second difference"
**Describe the bug**
---

If we set the configuration ttl.access_token as 1h , the token.expiry_at should be 3600 but comes to be 3599. There is a 1 second difference. (Same for all other configurations like 2h, 10h etc)

**Reproducing the bug**
---

I am currently running a containerized instance using  `oryd/hydra:v1.9.0-alpine` image along with `postgres` db container.

The configuration for `t

[2021-05-02 15:26] aeneasr commented on #2477
Silent refresh is on the way out as it relies on iframes, which does not work well cross-domain - one of the major reasons for using OpenID Connect!

That might also be a possibility!

[2021-05-02 15:57] aeneasr commented on #1383
@svrakitin have you seen https://github.com/ory/hydra/issues/1748 ? I think it makes a tad more sense as it kinda decouples the two components. We might still be able to add some function which does a HTTP request to the jsonnet though!

[2021-05-03 06:50] jimmytheneutrino commented on #1383
@aeneasr
It looks like the (first-step) solution proposed by you in #1748 is exactly the original intention of the current ticket:
Allow to define claims for a client to be issued in tokens for client_credentials_flow on client registration (but of course not via public registration).

As for the second step: the solution via a hook aka "client_credentials_claims-app" proposed here in my opinion s

[2021-05-03 14:06] flavioleggio opened #2513 "Optimize janitor's slow queries on requests tables"
**Problem description**

The new `hydra janitor` command introduced very important database cleanup routines in order to tackle production environments intense grow rate on tables for tokens and requests.
The queries simply delete obsolete records in `hydra_oauth2_access` and `hydra_oauth2_refresh` tables and rejected timed out requests records in `hydra_oauth2_authentication_request` and `hydra_o

[2021-05-03 14:57] Benehiko commented on #2513
I think this makes sense! Have you been able to test this manually?

[2021-05-03 14:58] flavioleggio opened #2514 "Extend janitor's cleanup procedures"
**Problem description**

The new `hydra janitor` command only takes into account tokens and requests tables.
For the formers cleaning up is as simple as considering that old tokens (i.e. whose TTL is expired) are of no use. For the latters cleaning up is far more complicated, as it involves considering that **expired records could also be of some use** (for example in _remembering_ subject's last

[2021-05-03 14:59] flavioleggio commented on #2514
Related to #1574
Could be examined in conjunction with #2513

[2021-05-03 15:57] flavioleggio commented on #2513
About the main solution, i have not tried it yet, but I will on my development database. I will let you know as soon as i have news on this.
About the alternatives, I am pretty sure that implementing logical delete will have a massive performance gain in production environment, but I think it will have a deeper impact on coding size, as this means that we have to introduce a new column on each ent

[2021-05-03 18:06] flavioleggio commented on #2513
Here are the results for the `EXPLAIN` of my version of the `SELECT` (I just substituted `DELETE` with `SELECT challenge`) in my development environment, in which `hydra_oauth2_authentication_request` table has 936 records.
|select_type|table|possible_keys|key|rows|filtered|Extra|
|-----------|-----|-------------|---|----|--------|-----|
|PRIMARY|hydra_oauth2_authentication_request|||936|33.33|Usi

[2021-05-04 00:04] synclpz commented on #2477
This is exactly what I was talking about :) We need kind of an alternative to `prompt=none`, which is described in this issue: an approach to use "online" sessions with the OP.

[2021-05-04 01:47] dylandelaporte opened #2515 "Invalid json response with get login request"
**Describe the bug**

Thank you for this great project!

I think I ran into a bug while playing with the hydra endpoints. I developed a small NodeJS application similar to the hydra login consent application to perform login and consent acceptation. It is not using the hydra-client package.

After being able to correctly login and accept consent I get redirected to the callback url. From here ever

[2021-05-04 07:07] aeneasr commented on #2515
@svrakitin the returns are missing:

https://github.com/ory/hydra/pull/2473/files#diff-567166c33485b3996843a300681ef6f4cba3e7c340c63f91a96edef0582eb908L274-R275

https://github.com/ory/hydra/pull/2473/files#diff-567166c33485b3996843a300681ef6f4cba3e7c340c63f91a96edef0582eb908L497-R499

[2021-05-04 07:12] svrakitin commented on #2515
@aeneasr gonna fix it and add missing tests

[2021-05-04 07:36] Benehiko commented on #2513
Yeah the database actually requires a rework, but it's too big a scope to tackle to fix just this one thing :)
The best, from what I can see, is just to follow through with your method of select and then passing the primary keys to the delete method.
I will have to look into this more in-depth as well to see if there is any alternative I'm missing.

This makes sense :+1:

[2021-05-04 08:08] aeneasr commented on #2515
Thank you!

[2021-05-04 13:47] #2515 closed

[2021-05-04 14:18] flavioleggio commented on #2513
I had a chance to try the cleanup procedure in a backup of my production database (identical tier instance too). I obviously just have records from today (00:00 AM) which are eligible for delete, because we run the janitor command each night. The `SELECT` query took **11 minutes** and extracted 39750 records, then i put all those challenges in a `DELETE FROM hydra_oauth2_authentication_request WHE

[2021-05-04 17:52] jbub opened #2518 "Invalid TLS config after upgrading to 1.10.2"
**Describe the bug**

I was running 1.10.1 with no problems with the following env var:

[code]

After running 1.10.2 with updated setup:

[code]

I am getting "The configuration contains values or keys which are invalid"

Probably related to https://github.com/ory/hydra/pull/2476.

**Reproducing the bug**

Run application with provided env vars on version 1.10.2.

_Server logs_

[code]

_Server c

[2021-05-04 18:09] aeneasr commented on #2518
Thank you for the report - does the original configuration still work though?

[2021-05-04 18:10] aeneasr commented on #2518
/cc @svrakitin

[2021-05-04 18:13] jbub commented on #2518
It does not, crashes with:

[code]

If i remove `SERVE_TLS_ALLOW_TERMINATION_FROM`, the application boots.

[2021-05-04 18:14] aeneasr commented on #2518
Does setting this in YAML / hydra config instead work? So is just env var broken?

[2021-05-04 18:16] jbub commented on #2518
Hmm i never used yaml config, only env vars, so possibly its only related to env vars.

[2021-05-04 18:18] svrakitin commented on #2518
We are currently running it in production with YAML config. I actually never checked that it works with env vars. I wonder how did it pass schema checks before as it is using same `Strings/StringsF` accessors.

[2021-05-04 18:25] aeneasr commented on #2518
My suspicion is that we are not properly resolving the `$ref` indirection. Before we had no `$ref` for cidr, now we have one `$ref` to `tls_config` and then one more to `cidr`.  This most likely causes the paths returned by [`ListPaths`](https://github.com/ory/x/blob/master/configx/koanf_env.go#L21) to not have the correct type [`StringSlice`](https://github.com/ory/x/blob/master/configx/koanf_env

[2021-05-04 18:25] aeneasr commented on #2518
For people having this issue a workaround is to define this config item in the YAML / JSON config file instead of as an env var!

[2021-05-04 18:26] svrakitin commented on #2518
@aeneasr I am looking into this right now. My bad here.

[2021-05-04 18:26] aeneasr commented on #2518
Thank you! All good, I think this might be a complex bug in the config parsing mechanism.

[2021-05-04 18:52] svrakitin commented on #2518
It seems like we just need to start following `$ref`s in `items` here: https://github.com/ory/x/blob/c44ebcb2122240a8a98f26e1664f5ad3f7bd49f7/jsonschemax/keys.go#L225.

[2021-05-04 20:00] svrakitin commented on #2518
I guess this should work after bumping `ory/x` to `v0.0.233`

[2021-05-05 05:35] aeneasr commented on #2513
Thank you for investigating this @flavioleggio ! Performance might indeed be dependent on the database family and storage engine. Generally I think that a `DELETE ... WHERE IN` makes sense. I guess we did not anticipate that the existing queries would also be slow.

One low hanging fruit would be to refactor the [joins](https://github.com/ory/hydra/blob/master/persistence/sql/persister_consent.go#

[2021-05-05 06:39] #2518 closed

[2021-05-05 11:58] dadrus commented on #1529
@aeneasr: I somehow struggle to understand the proposal. Is the approach as described in https://github.com/ory/hydra/issues/1529#issuecomment-791242364 the desired way to go? So at the end, the administrator of hydra can override the global ttl defaults by client specific values along with setting the `client_id`, `client_secret` and so on properties. This shall only be possible for statically co

[2021-05-05 13:53] flavioleggio commented on #2513
Hi @aeneasr and thank you for your feedback on this.
I've done a lot of research and testing on my production backups in these two days. Here's what I found out.
Looking at [innodb docs](https://dev.mysql.com/doc/refman/8.0/en/innodb-locks-set.html) it seems like in `DELETE`s with conditions that make it examine non-indexed columns every record is locked until completion.

This explains why our `D

[2021-05-05 14:12] Benehiko commented on #2513
yes, it makes sense. I also agree that the batch mode processing is the only way to go so far. However, we have some limitations we have to work around. So first one is that we cannot used stored procedures. Second is that gobuffalo/pop does not  seem to support batch mode processing.

That leaves us with two routes:
- We write the batch processing logic inside golang (this means our sql is simple

[2021-05-05 14:14] Benehiko commented on #2513
My other concern with externalising the batch deletes (e.g. running the logic in golang instead of db) is that you're extremely dependant then on the host machine running janitor as well as the network speed/latency between janitor and the db. This might actually end up making the janitor cleanup routine execute way longer than intended instead of just leaving it to the db completely.

[2021-05-05 14:21] flavioleggio commented on #2513
Personally, this would not be a concern for us, as we already use a bastion host with sufficient resources and near to the database for this kind of operations (which should be the standard for cleanup / maintenance jobs, imo). I think it is however true that this becomes an host related issue, but this can also bring to some guide lines on where to put janitor to work, like minimum host requireme

[2021-05-06 07:11] Benehiko commented on #2513
I would rather prefer to keep everything database side, this prevents us from creating more possible future problems

[2021-05-06 07:25] flavioleggio commented on #2513
I am thinking that as the performance issues are related to a timestamp column and the majority of the big tables just handle events and not entities state, maybe **horizontal partitioning** based on `requested_at` would come to the rescue. The table should be designed in such a way that queries shoul run in a single partition and a partition could be dropped entirely at will.
I am sure this is wa

[2021-05-06 09:08] flavioleggio commented on #2514
To give some more context on this, i analyzed `hydra_oauth2_authentication_request` in two consecutive days (same hour in the day, both before `janitor` job) and i found out that we get **1.4 millions of new records** every day and we just **delete 240k records** with actual cleanup procedure. This results in a net increase of 1.2 millions of new records every day, just for that table.

[2021-05-06 09:29] dadrus commented on #2416
Hello everybody. @lukestoward: Thank you also from my side for the great explanation. FMPOV there are some things missing. Or I just oversee these in the discussion above. Let me recap a bit. The rfc8628 basically talks about three phases: (1) Client (device) requesting the access, (2) User granting the access and (3) Client receiving the access token.

The discussion held so far is more about (2)

[2021-05-06 10:00] IonFoXx commented on #2505
Hi @aeneasr

if I understand the problem correctly, I don't think that this is something that could be solved by locking rows or tables in the database. The code snippet provided by @ab316 intentionally, at least I hope, triggers the issue of two or more entities editing the same resource at the same time where the entities have the same set of base data. Eg. You and I are editing the same file on

[2021-05-06 10:13] ab316 commented on #2505
@IonFoXx ,

I don't understand why locking would not help. From your example, if someone else tries to open the same file as I, they should be denied until I have saved and released the file.

But your second solution that sounds like Optimistic Locking seems to be sufficient would at least solve my problem.

[2021-05-06 10:24] lpedrosa commented on #1569
Just to confirm, is this fix in `v1.10.2`? It's still marked as 1.11 in the milestone.

[2021-05-06 10:30] lukestoward commented on #2416
Hi @dadrus, I have made some progress on how part 2, as you've labelled, could function. I'll elaborate on my thoughts before I respond to your points above.

For the existing login and consent flows, where a login provider must communicate with the Hydra admin API to Accept/Reject a login/consent request, Hydra will respond with a `redirect_to` URL that instructs the login provider to redirect th

[2021-05-06 13:26] IonFoXx commented on #2505
Hi @ab316

have you tried to add an `await` in before calling `addAudienceToClient` within your for loop? Or is the missing `await` intentional?

[2021-05-06 13:35] ab316 commented on #2505
@IonFoXx , the missing await is intentional as it is simulating calls coming from multiple different services simultaneously.

[2021-05-06 13:55] IonFoXx commented on #2505
Hi @ab316

nice, than I understood your sample correct.

The table lock won't fix your problem because it would need to be acquired with the get request and if you never release it afterwards the table would be locked for forever or at least a specified timeout. And even with the lock it would be possible to submit old data to the API and delete everything that has been done in between.

[2021-05-06 16:21] natsuo commented on #2416
Random observation (or feature request?) when the user is linking/claiming a new device code:

When entering thr `usercode`, the device should be able to offer some additional information, like an IP-address (or location) and some identifying information about the device. This could be an user agent string, a device name (Apple TV - Living Room, Samsung Smart TV, raspberry pi 4). That way the user

[2021-05-06 16:35] lukestoward commented on #2416
Hi @natsuo, do you mean we would capture information about the client device at the point it makes the initial device authorisation request, to obtain a device code and user code? Then subsequently show this information to the user after they have provided the user code? The former wouldn't follow the RFC specification, as that clearly outlines what properties should be provided, although I guess

[2021-05-06 17:01] natsuo commented on #2416
Upon further thought, the service I was thinking of a service I saw had a second screen. After claiming/linking the `usercode` you could set some additional configuration for the device. Like naming it, grouping it, colors and whatnot.

The page had a device location (based on the device's IP address), like "Codeville, CA, USA" or something like that. But that could obviously be handled through a

[2021-05-06 17:16] dadrus commented on #2416
@lukestoward

This is clear ;)

Yes, this URL is a user facing one and should be short, but I don't think it should be addressed by hydra/login-provider. There are many solutions in the wild, offering "url shortening" services, which the device can use to shorten the URL received from hydra before presenting it together with the user_code to the user. Or, as you said, make use of `verification_uri

[2021-05-06 18:01] aeneasr commented on #1569
It's referenced and closed so yes :)

[2021-05-06 18:08] aeneasr commented on #2513
Thank you for the research! Maybe I did not really make clear what I intended to say. So my idea was this:

[code]

So basically, we first select all the PKs using SELECT which might be slow but shouldn't cause a lock. Then we run the DELETE in a separate transaction. This means that we do not lock the table! This we could then run over the day as a background tasks (e.g. every 10 minutes) as it s

[2021-05-06 18:10] aeneasr commented on #2514
Only keeping the most recent state is probably an option we could enable in the janitor. It would need to be set explicitly but it's definitely an option and I think it would make tons of sense to have it as part of the system!

[2021-05-06 20:41] rivernate opened #2520 "ImportKeys CLI command missing"
**Describe the bug**

It appears that starting with v1.10.1 release, the CLI command for `hydra keys import` is no longer present. Running `hydra keys` only shows subcommands for create, delete and get

**Reproducing the bug**

1. Run `docker run oryd/hydra:v1.10.2 keys`
2. The `import` subcommand is not present

**Expected behavior**

The `hydra keys import` command should be present

**Environme

[2021-05-06 22:27] flavioleggio commented on #2513
My only objection on this idea is that the `SELECT` would take a lot of time *each time*. Maybe we could select all records (or just a big part with a bigger limit, like 10k, configurable?) once and then run all the needed `DELETE`s with smaller chunks (let's say 100 or 1000) at a time from that big result set. Those would be in separate transactions and would not lock the table at all, I guess.

[2021-05-07 08:00] dadrus commented on #1529
I think I got your point @aeneasr. Your approach would be to put this list into the hydra.yaml. Correct? IMHO this will make the implementation more complex and it most probably will break abstractions. I don't know how the typical hydra deployment looks like in the wild, I however see it as follows: Since hydra is a security component, not everybody should have access to the admin end points. The

[2021-05-07 08:52] lukestoward commented on #2416
Thanks providing the sequence diagram, it definitely helps visualise what you're purposing with the additional Hydra challenge for the submission of the user code.

We know that a login/consent request `challenge` value is passed to the login provider for the purposes of retrieving the login/consent request information from Hydra. This challenge is an ID, which also acts as simple security mechani

[2021-05-07 10:42] dadrus commented on #2416
The idea was to reuse the patterns already implemented by hydra for all flows. But in principle I agree with you.

My attention is more on the second scenario, as it
IMHO , as I've written above,  offers much more flexibility. In addition to what I've written above, imagine your device should work with an app. So when the customer goes through the onboarding, you would like to offer as seemless us

[2021-05-08 10:47] aeneasr commented on #2505
Agreed @IonFoXx, it's not something we can fix. If you PUT outdated data to the API then that's what's being stored. You might want to look at the PATCH API instead.

Locking a table on GET is not possible.

On a side note - having multiple writers to OAuth2 clients is very very unusual. Normally you create them once and don't touch them again.

Will be closing as can't fix / not an issue / use PA

[2021-05-08 10:47] #2505 closed

[2021-05-08 10:58] aeneasr commented on #2513
That makes sense to me! Large (configurable) SELECT, batched deletes (configurable). Sort of divide & conquer :)

[2021-05-08 16:22] flavioleggio commented on #2513
I've got some nice news on this!

Tonight we put our *dangerous* version of the database cleanup out in the wild (actual production environment). The procedure is a simple bash script that selects ids and challenges from some tables (column `login_session_id` from table `hydra_oauth2_authentication_request`, limited to 1 million and column `challenge_id` from table `hydra_oauth2_access`, limited t

[2021-05-10 06:12] #2520 closed

[2021-05-11 10:19] dadrus commented on #1529
Fully agree with you! I'm however talking about something different - about different representations of the client object, depending on the used API. This way one would have more config options available and manageable over the admin API, but the dynamic client registration API would support only a subset of it, e.g. the client would not be able to set token ttls, as the corresponding end point w

[2021-05-11 13:26] fjvierap commented on #1529
@aeneasr

But it is still and administrative endpoint, correct?

`admin.POST(ClientsHandlerPath, h.Create)`

So it is only exposed publicly if the admin api is also exposed. Or did I misunderstood something?

[2021-05-12 09:29] WeWebsterchen opened #2528 "Does HYDRA have plans to support TLS_CLIENT_AUTH?"
Does HYDRA have plans to support  client use TLS_CLIENT_AUTH?

[2021-05-12 09:39] #2528 closed

[2021-05-12 13:27] gbolo commented on #2311
hi @aeneasr

I looked through the code. It's fairly simple to modify the wellknown response to include the supported methods. However, I could not find any indication in the code that pkce is actually being validated. Adding support for pkce is a bit more than I bargained for ;) Can you verify this?

[2021-05-13 08:53] juananinca opened #2530 "Unexpected warning about a migration file"
**Describe the bug**

When I start the hydra service with `hydra serve all` pops up a warning message with the following:
`[POP] 2021/05/11 13:08:11 warn - ignoring migration file with unsupported dialect sqlite3`.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Run `hydra serve all`

_Server logs_

[code]

_Server configuration_

[code]

**Expected behavior**

There's should be no

[2021-05-13 11:52] aeneasr commented on #2530
What database are you using?

[2021-05-13 12:12] juananinca commented on #2530
I'm using Postgres 12.0.
Upgrading to 1.10.2 does the trick, no warn messages shown.

Not sure if the issue should be closed since version 1.9 still showing that warning.

[2021-05-13 12:21] aeneasr commented on #1529
Yeah but the idea is, if you want to expose it publicly, to more or less do so 1:1!

I think it probably just makes most sense from a developer perspective to have this be part of the consent API?

[2021-05-13 12:38] saich commented on #1529
My 2 cents:

1. Doing it in consent flow will imply it won't work with `client_credentials` flow in current system
2. For my POV, it makes sense for this to be part of client object in database (`/clients` endpoint). This could be optional field & null value in database would imply the application would use the global value for them, or can be specifically overridden per client as desired.

[2021-05-13 13:34] ngrigoriev commented on #1529
Personally, I do not like the idea of "override" config file. Simply because these values are client-specific and  all client data sits in the DB and is accesiible/modifyable via APIs.

As for the consent provider vs client credentials grant (where consent provider is not called) - I do believe that some kind of consent-like callback (not user-facing) would be cool to have for that kind of flow. I

[2021-05-13 15:37] flavioleggio commented on #2513
It would be really nice, but I need some pointers for both code and pr, as it is my first experience with Go and in general with code contributions on GH :)
Would you be up for a chat in slack one of these days?

[2021-05-13 18:26] Benehiko commented on #2513
Hey @flavioleggio,

I could maybe help you with some pointers, just message me on slack :)

[2021-05-13 21:22] mitar opened #2532 "Contributing guide is lacking information how to run tests"
**Describe the bug**

I am trying to run tests to test my PR. I read [these instructions](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md#pull-request-procedure) but they do not work. Just running `go test ./...` fails with many lines like:

[code]

I would expect that tests just work, or that contributing guide explains how to run tests locally fully. The `(or equivalent)` part in contri

[2021-05-13 21:25] mitar opened #2533 "Contributing guide lacks information about possible prefixes"
In the [contributing guide](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md#pull-request-procedure) there is a paragraph:

I am not sure this is current. It looks like prefixes like `fix` and `chore` are also allowed, not just subsystem.

Ideally, it would be nice if there would be a concrete list of possible prefixes once can use for this particular repository. As a new contributor, I ha

[2021-05-14 13:25] aeneasr commented on #2532
You can find this in the README: https://github.com/ory/hydra#running-tests :)

[2021-05-14 13:25] #2532 closed

[2021-05-14 18:04] mitar commented on #2532
Could that be linked to from the contributing file? Otherwise the contributing file is misleading.

[2021-05-15 09:00] pharman commented on #2513
We have tried running janitor on a production copy of our database which has around 500gb in it. Deleting tokens works fine, but requests just times out after around 1 hour:
[code]
Not sure if this is to do with the DSN settings (postgres) or just the data size and slow query. The _requests tables take up around 150gb. The DB is reasonable (db.r5.xlarge with 3000 IOPS), certainly more than is need

[2021-05-17 06:49] aeneasr commented on #2311
PKCE is supported and [somewhat documented](https://www.ory.sh/hydra/docs/guides/oauth2-public-spa-mobile/#creating-a-public-oauth-20-client).

[2021-05-17 06:53] aeneasr commented on #2530
Yup, closing -  thanks

[2021-05-17 06:53] #2530 closed

[2021-05-17 07:11] aeneasr commented on #1529
I understand the idea behind it! I think it is a tad too difficult (for the developer) to implement and also brittle as the flow is usually something being called in fast succession.

I think something like `/config/clients/<id>` would be preferable - it's a distinct API endpoint not exposed as OIDC Dynamic Registration and it would support the PUSH (rather PULL) model where the dev's backend upda

[2021-05-17 07:33] v03adk commented on #2322
@aeneasr Hello. And do you have some kind of migration tool (or tutorial) to move existing tokens from another server to Hydra? so, we are using some library for oauth2 flow, but want to move to Hydra. at the same time, we want to keep our customers "logged in", so we would like move existing access_tokens to Hydra db. is there a way to do that? or tutorial?

[2021-05-17 07:41] aeneasr commented on #2322
In that case please migrate your SQL database. This is not in the scope of Ory Hydra :)

Closing as per https://github.com/ory/hydra/issues/2322#issuecomment-770381617

[2021-05-17 07:41] #2322 closed

[2021-05-17 07:44] v03adk commented on #2322
@aeneasr I know that it's not the scope of Ory Hydra. I just asked if there some kind of tutorial maybe? or the only possible way is to dig into Hydra sources to find about the db schema?

[2021-05-17 08:25] aeneasr commented on #2322
I suggest using something like `mysqldump` or `pgdump` or whatever database tool you're using. There are tons of tutorials on moving databases (e.g. https://www.sysinfotools.com/blog/migrate-sql-server-database-from-one-server-to-another/) online. There is no documentation in Ory Hydra that would help with operational details of your database environment :/

[2021-05-17 08:30] v03adk commented on #2322
@aeneasr ok, I see that you confused my question with the first question. sorry for that. I am not moving from pgsql to mysql.

I am movinf from completely another oauth2 server to Hydra. and want to move a completely different mysql scheme to Hydra. and asking about Hydra db structure, like if I have strict AccessToken in my db, how can I insert it into Hydra mysql structure?

[2021-05-17 11:23] aeneasr commented on #2322
I see. It's always better to open a new issue if your question does not relate to the original issue :)

That highly depends on what OAuth2 Server you are moving from. We currently do not have documentation for this and a migration won't be an easy 1:1 move as every server has different schemas and concepts. We would however greatly appreciate to understand how you are planning a migration (also f

[2021-05-18 01:14] seremenko-wish opened #2535 "JWK: improve key rotation"
**Is your feature request related to a problem? Please describe.**

By using a new/fresh key for signing access or ID tokens, Hydra leaves no choice to clients and forces them to hit Hydra's endpoint every time they see an unknown key. So sending multiple requests with invalid `kid`s to one of the clients could init DDOS attack on the Hydra server.

For reference, Hydra key rotation documentation:

[2021-05-19 07:21] pharman commented on #2513
@flavioleggio we can lend a hand with this even if just testing.

[2021-05-19 14:54] nvenkatp opened #2536 "Securing confidential variables in the hydra configuration yaml file"
Hi Team,

I understand hydra accepts configuration variables either as provided in config yaml file or via environment variables. But I don't want to put my database connection string & system secrets as plain text in config yaml or via environment variable.

What are the best options to avoid storing such confidential things as plain text in config file or via environment variable ?

[2021-05-19 15:45] #2536 closed

[2021-05-19 17:41] aeneasr commented on #2535
Thank you @seremenko-wish for the issue. Since `/.well-known/jwks.json` is public knowledge and requires no authorization the attack surface for a DDoS would be, in my opinion, one of launching a direct attack against that endpoint at Ory Hydra using e.g. 10 servers with `hey`.

Immediate revokation of cryptographic keys is, I believe, quite important. What we could do to optimize throughput might

[2021-05-19 17:48] #2502 closed

[2021-05-19 19:17] felixjung opened #2538 "Authorization requests with prompt=create cause errors in Hydra"
**Describe the bug**

When making a login request with the value `create` for the `prompt` parameter, Hydra returns an error to the client after the login endpoint application accepts the login request.

**Reproducing the bug**

1. Copy the login request URL from the hydra example client application and update it to have `prompt=create` instead of `prompt=`.
2. Open the login request URL.
3. Accep

[2021-05-19 19:24] felixjung commented on #2538
I would suggest to fix this by adding `create` to the [list of allowed values of the request validator](https://github.com/ory/hydra/blob/f588ec69d4fa03f602d3cbb20abd4188195a7375/driver/registry_base.go#L394). WDYT?

Maybe a better alternative would be to make the list of values in addition to the current ones configurable?

[2021-05-19 19:51] aeneasr commented on #2538
I believe the problem here is that `prompt=create` has no meaning to Ory Hydra: Does `prompt=create` (or `prompt=foo`) mean that we need to force the login flow? Or skip it? Or ignore the parameter?

If you are looking for adding context to your login app I would recommend to use the `request_url` of the Login Request to see the original OAuth2 URL which might include additional parameters such as

[2021-05-19 22:07] seremenko-wish commented on #2535
Key revocation is straightforward removing keys from DB. So if we implement a delayed private key utilization, that should not impact existing functionality.

[2021-05-20 08:26] felixjung commented on #2538
Hm yeah, could do that. Using the existing draft for user registration seems nicer than creating our own parameter, though. So I was hoping to be able to start adopting drafts like this one or like `prompt=select_account` (which seems like it's already part of core and is being discussed in #1943). Is this something you wouldn't be willing to do until `prompt=create` makes it into the spec?

I cou

[2021-05-20 09:52] aeneasr commented on #2533
Moving this to meta

[2021-05-20 10:13] flavioleggio commented on #2513
Hi @pharman, I am already working on this in [my fork](https://github.com/flavioleggio/hydra/tree/janitor-slow-queries). I had some issues in replicating the safe delete logic in a separate query, but I am working on it. I am still experiencing some regressions, but as soon as I will have all tests passing, I will create a draft PR and you can comment / contribute there!

[2021-05-20 10:13] aeneasr commented on #2513
@pharman that'sprobably the same issue @flavioleggio is facing I believe. The proposed batch processing should definitely help here!

[2021-05-20 12:39] ejazkhan172 opened #2539 "Ory Hydra generating code for grant_type:authorization_code for invalid aud"
on  hydra_1.10.2_linux_64bit i'm facing issues as
**Ory Hydra generating code for grant_type:authorization_code if invalid audience is provided  on request.**
As per my knowledge of oauth2 , if audience is not from the ones which are provided in  "audience":["string"]  client  during client create api, **it should not generate auth code**.

**Os : ubuntu 16
hydra : hydra_1.10.2_linux_64bit**

[2021-05-20 17:33] seremenko-wish commented on #2535
Yeah, we approach this problem from different angles :) Your scenario is more complicated than it could be. Malice does not need to trick anybody to send anything. An attacker can just send requests directly to an API endpoint that expects the JWT token as a parameter. So the schema is Attacker ---> (API Gateway) ---> API ---> Hydra. So all requests from Attacker will end up in Hydra endpoint that

[2021-05-20 19:12] mitar commented on #2456
What I am saying is that an access token without `openid` scope should fail. I see few examples of such checks in other implementations, where access token for userinfo endpoint is required to have `openid` scope otherwise it fails:
* https://github.com/juanifioren/django-oidc-provider/blob/master/oidc_provider/views.py#L223
* https://github.com/gravitee-io/graviteeio-access-management/blob/de9e5a

[2021-05-24 14:12] aeneasr commented on #2539
Thank you for contributing to this repository by creating an issue!

Unfortunately, your issue lacks vital information, such as log files, the error message, the software version, your configuration or other pieces of the puzzle.

Please also ensure that your issue is appropriately formatted. If you do not know how to write markdown, you can find help [here](https://guides.github.com/features/mast

[2021-05-24 14:16] aeneasr commented on #2456
In that case this is a wontfix as it introduces a significant breaking change with little upside and no guidance from the OIDC Foundation or other security reasoning. To me, the OIDC guidance is clear ins saying that a „sub“ field shall always be returned and it is also what I have seen in public implementations from Google and others.

[2021-05-24 14:16] #2456 closed

[2021-05-24 14:21] aeneasr commented on #2535
I’m still not clear if I understand the scenario. Why could Malice not just call the well-known endpoint herself? It is a publicly exposed endpoint and there is little reason to trick some OAuth2 clients into making unnecessary requests to the endpoint. It is easier to mount an attack directly against a publicly available endpoint than going through an indirection. Maybe you are not exposing that

[2021-05-24 14:24] vesvalo opened #2541 "parsing of allow_termination_from from environment variable is broken"
**Describe the bug**

Parsing of the `allow_termination_from` config parameter from the environment variable is broken, hydra throws the errors:

[code]

**Reproducing the bug**
run `hydra serve all` with SERVE_TLS_ALLOW_TERMINATION_FROM environment variable (other required parameters are omitted here)
[code]

or
[code]

**Environment**

- Version: v1.10.2
- Environment: Docker, Windows 10, Linux

[2021-05-26 18:04] gbolo commented on #2311
hi @aeneasr it looks like pkce is supported from the client perspective, but I cannot find any server side verification being done. Can you confirm this?

[2021-05-27 08:10] mityakoval commented on #2541
+ 1

[2021-05-27 11:05] aeneasr commented on #2311
Confirm what exactly?

[2021-05-27 11:10] inaniyants commented on #2541
+1

[2021-05-27 11:40] aeneasr commented on #2541
Please don’t +1 your colleagues, it’s against our contribution guidelines and will certainly not help answer or fulfill your question.

[2021-05-27 12:17] gbolo commented on #2311
@aeneasr that the hydra server will validate the code_verifier with the already received code_challenge and the code_challenge_method during the client's access token request (PKCE)

[2021-05-27 15:58] aeneasr commented on #2311
That's what I tried to say https://github.com/ory/hydra/issues/2311#issuecomment-842052258

What was not clear about it / what could be improved?

[2021-05-27 16:16] gbolo commented on #2311
Hi @aeneasr sorry if I'm not being clear enough. I already made the required changes to the wellknown response, however i cannot find any evidence of the hydra server keeping track of the code challenge for validation later on when the token request comes in. Can you point me to the code that does this validation? It would be difficult for me to write that validation code, as I would have to get m

[2021-05-27 16:18] aeneasr commented on #2311
Ory Hydra supports PKCE as required by the specification and does the validation and everything. This happens in the library we are using: https://github.com/ory/fosite/

[2021-05-27 16:57] gbolo commented on #2311
thanks @aeneasr

I have modified the response and adjusted the testcase for the response. Please review #2547 when you get a chance.

[2021-05-28 11:24] dadrus commented on #1529
If I take a look at the current documentation (discovery endpoint): https://www.ory.sh/hydra/docs/next/reference/api/#openid-connect-discovery, I see the following:
[code]
IMHO, this is a bug. The registration end point shall not be and administrative endpoint, there is a need for a public end point for the purpose of dynamic client registration. Otherwise one is forced to expose admin end points

[2021-05-28 11:29] dadrus commented on #2416
@aeneasr: It would be great if you could show more involvement ;) here. We urgently need support for the Device Authorization Code Flow. I sketched the preferred implementation approach from our side (incl. @fjvierap), but this ticket is unfortunately stale for already 3 weeks as there is no feedback. We can for sure open a PR which will implement the aforesaid approach. We would however like to a

[2021-05-28 12:06] aeneasr commented on #2416
Hello, we had a call two weeks back with someone from BBC uView and laid out a plan for implementation. Unfortunately I don’t know the GitHub handle of that person. While we didn’t discuss this here in the issue there is a clear plan for implementation. But I don’t know the current state of the implementation.

[2021-05-28 12:13] lukestoward commented on #2416
@aeneasr this was with me 😄, and just to clarify this work/investigation is being carried out by me on behalf of YouView. I have made some progress on the implementation, not ready for PR yet though. I’ve had changing work priorities so progress has been slower than I’d like.

[2021-05-28 13:00] dadrus commented on #2416
@aeneasr, @lukestoward: Thank you for this information. But what is the plan? In our (@lukestoward) last "discussion" (see above), you wanted to digest on "my" proposal. The issues I (my team) sees with the initial proposal are already written above.

[2021-05-28 13:10] lukestoward commented on #2416
@dadrus the discussion I had with aeneasr and others from the ORY team several weeks ago centred on the original proposal documented at the top. Given the unanticipated complexity of adding support for this flow in its simplest form, I haven't extended this based on your proposal. I'd rather open a PR in the future with an MVP of sorts, and open up the approach for critique then. Of course you're

[2021-05-28 15:11] aeneasr commented on #1529
Thank you @dadrus - this appears however to be something not relevant to the original issue which is about access and refresh token epxiry. Regarding your question, please head over to: https://www.ory.sh/hydra/docs/production#exposing-administrative-and-public-api-endpoints

[2021-05-31 10:41] dadrus commented on #1529
Thank you for the link. I was somehow sure, there are two separate endpoints - one for dynamic client registration and the other for client administrative purposes. Hence my argumentation. Since this perception was wrong, I now understand your argumentation. Nevertheless, I personally see the original issue pretty much related to the currently ongoing discussion, even the original request was to m

[2021-05-31 11:28] dadrus opened #2549 "Separate client management API from the API used for dynamic client registration and configuration."
As of today the endpoints for the dynamic client registration and configuration are implemented as administrative end points and not as special purpose public ones. This has at least the following downsides:
* It is not possible to store additional information about the client, which shall not be available to the client itself. Best example is configuring per client valid ttls for the issued token

[2021-06-01 10:43] felixjung commented on #2538
OK, we can work around that. Thanks.

[2021-06-01 14:04] aeneasr commented on #2538
Thank you - closing then!

[2021-06-01 14:04] #2538 closed

[2021-06-03 07:34] #2311 closed

[2021-06-03 16:27] WeWebsterchen opened #2559 "Does hydra support scope Wildcard"

[2021-06-03 17:38] sneko commented on #1943
Hi,

I was also looking for a multi-sessions management but I know it's a big deal. In the meantime I just want to simplify the flow of switching the user account. Since you were on this path, I'm interested to have your thoughts:

* From `Client A` the user logs in with `User A`
* Since I set `Remember: true` the session is set in cookies
* From `Client B` the user would like to log in and is red

[2021-06-03 17:48] pike1212 commented on #1485
Is anyone working on this issue? We would like a way to lookup clients by name? Something like `GET {HYDRA_ADMIN}/clients?client_name=string`. I can look into creating a PR.

[2021-06-03 17:52] #2559 closed

[2021-06-04 01:25] mohsen3 commented on #1574
Hey, I noticed that `janitor $DSN --requests` cleans up `hydra_oauth2_authentication_request` and `hydra_oauth2_consent_request` tables, but not `hydra_oauth2_authentication_session`. That latter one is the second largest table in our database right now. Is there a reason to keep those rows around while cleaning up the first two tables? (I suppose not).

If not, I can create a PR for that.

[2021-06-04 08:43] aeneasr commented on #1574
A PR would be welcomed for this! You can also first create an issue and outlay the plan for the delete query :) Also there's an ongoing refactoring of the system, see #2540

[2021-06-04 10:50] ErwinSteffens commented on #883
@aeneasr

Was the wildcard part also implemented? Not finding anything in the documentation about this.

[2021-06-04 16:05] mohsen3 opened #2561 "Janitor does not clean up the sessions"
I noticed that `janitor $DSN --requests` cleans up `hydra_oauth2_authentication_request` and `hydra_oauth2_consent_request` tables, but not `hydra_oauth2_authentication_session`. That latter one is the second largest table in our database right now. It does not seem to be a reason to keep those rows around.

**Describe the solution you'd like**

Remove the rows from `hydra_oauth2_authentication_se

[2021-06-04 16:07] mohsen3 commented on #1574
Thank you @aeneasr!
I created an issue: https://github.com/ory/hydra/issues/2561

[2021-06-04 23:56] seremenko-wish commented on #2535
Let's return to this conversation later. I think I can handle this by introducing cache in CDN and triggering cache invalidation alongside key rotation

[2021-06-04 23:56] #2535 closed

[2021-06-05 21:42] robinmanuelthiel commented on #2403
That was it, thanks!

[2021-06-05 21:42] #2403 closed

[2021-06-06 19:38] Demonsthere commented on #2403
You can find schema in the [k8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#http-probes) :)

[2021-06-07 09:58] robinmanuelthiel commented on #2403
@Demonsthere Sure, but you mentioned, that you took it from the [ory maintained charts](https://github.com/ory/k8s). I can't find it there. Why does it work there?

[2021-06-07 10:09] Demonsthere commented on #2403
Oh , ok I misunderstood you there. In our charts we set the [delay by default](https://github.com/ory/k8s/blob/master/helm/charts/hydra/values.yaml#L235), which was missing in the deployment you posted here. Regarding the `schema` field, it should be added to the charts as a configurable variable, to allow easier configuration. Could you maybe open a issue for that?

[2021-06-07 18:22] mohsen3 commented on #2561
It seems to me that the values in `hydra_oauth2_authentication_session` are used for two different reasons:

1. When doing a logout, this is use as id_token hint. It doesn't seem to be a big deal if hydra get's a request for an already deleted row here since the user is already technically logged out.
2. When a user has `rememberFor` option set, this table is looked up to see if there is an active

[2021-06-07 22:29] jcd006 commented on #2041
A proposal could be to have a client and resource server defined for the management API. You'll get an accessToken for the API resource server with the management audience and use that to call the management APIs.

I think from a security perspective simply using the platform's security features will make the Admin server the weakest link and not suitable as such for enterprise use-cases where suc

[2021-06-08 07:26] aeneasr commented on #2561
True, we don't keep that around. I think we should add that field to the table!

Does the table have any foreign keys on e.g. login or consent requests?

[2021-06-08 15:56] mohsen3 commented on #2561
Both `hydra_oauth2_authentication_request` and `hydra_oauth2_consent_request` have a `login_session_id` pointing to the session table.

![image](https://user-images.githubusercontent.com/10819757/121216257-f5f58280-c83d-11eb-9a6d-d66fa48ae59a.png)

[2021-06-08 15:59] mohsen3 commented on #2561
It seems that `remember_for` is kept in the `hydra_oauth2_authentication_request_handled` table

![image](https://user-images.githubusercontent.com/10819757/121218596-1de5e580-c840-11eb-8c4d-8aa74d76d17e.png)

[2021-06-08 16:03] aeneasr commented on #2561
Ok, I don't remember if the constraint is cascade delete or cascade set null. If it is the latter, this table would be safe for purging old records

[2021-06-08 17:50] mohsen3 commented on #2561
It seems that it cascades deletes:

[code]

[2021-06-10 12:40] bbsclient commented on #1561
I too would like to use Hydra in my closed ecosystem with a client that must use native UI without support for a browser.  So I need an authentication system that supports the password grant.

[2021-06-10 19:29] mohsen3 commented on #2561
I think we can delete the sessions with `id`s returned from the following query before we cleanup the other two tables (requests and consents). Otherwise, we loose the connection between the `hydra_oauth2_authentication_session` and `hydra_oauth2_authentication_request_handled` that holds the `remember_for`. This triggers a cascade delete that removes rows from `hydra_oauth2_authentication_request

[2021-06-11 08:38] aeneasr commented on #1485
There's currently no one working on this. A big problem with query lookups like these would be that we need to full-text index all of these fields. Also, we need to define a query strategy for all of ory. How do "AND"s work? How do "OR"s work? So far we haven't found a good solution.

So before going with a PR I think we need to figure this out first.

[2021-06-11 08:57] aeneasr commented on #2561
The problem with the proposed query is that it would delete login session, which deletes authentication session, which deletes (I think) consent session, which deletes access tokens. So while the login session might be expired, it could still bel inked to an access token. This connection must be kept alive for the OIDC Front/Back-channel logouts to work.

Thus, I think that we can only safely dele

[2021-06-11 10:29] #1974 closed

[2021-06-14 23:27] mohsen3 commented on #2561
Deletes from `hydra_oauth2_authentication_session` are cascaded to `hydra_oauth2_authentication_request`, but not to `hydra_oauth2_consent_request`. So, tokens and other things dependent on consent should not be affected.

But you are right, sessions are not useful without `hydra_oauth2_authentication_request[_handled]`. So, it seems fine to delete them.

I created a draft PR. Please have a look a

[2021-06-14 23:30] mohsen3 commented on #2561
One issue with the current implementation is this line:

https://github.com/ory/hydra/blob/0dda22d8106027c12833d04ec019ff10cfd9ab29/persistence/sql/persister_consent.go#L490

It should probably use `remember_for` rather than `ConsentRequestMaxAge()`.

[2021-06-15 13:47] fjvierap commented on #2549
@dadrus @aeneasr a new PR has been created for this... Please review when you have sometime

[2021-06-16 12:12] wxdao opened #2570 "Proposal: Add a new type of custom endpoint to be called on refresh token grant"
**Is your feature request related to a problem? Please describe.**

Currently claims of new tokens exchanged with a refresh token are always the ones specified on the initial consent flow, never getting a chance to get updated.

**Describe the solution you'd like**

Introduce a new external endpoint to participate in token refresh, so that the external identity provider is able to add updated user

[2021-06-16 14:18] aeneasr commented on #2570
There are two approaches to solve this:

- PUSH model would required the IDP to push any claims-related changes to Ory Hydra when updates occur
- PULL model would required the IDP to implement an endpoint which would be called by Ory Hydra on every refresh

Personally, I would prefer the PUSH model because we could probably add an endpoint which updates the consent state so it would be pretty stra

[2021-06-16 14:27] wxdao commented on #2570
PUSH model I think will require the provider to broadcast every user info changes for everyone to hydra server, even though some users may not have any sessions under hydra currently, a little bit too much, or the provider will have to keep track of all active sessions. Also, depending on how a session was first authenticated, probably not every token for a user gets same claims, like if some clai

[2021-06-18 14:53] aeneasr commented on #2570
True, that might indeed be cumbersome. So the PULL request would only be triggered if configured though, right?

[2021-06-18 15:21] wxdao commented on #2570
Yes it should be optional.

[2021-06-18 15:32] aeneasr commented on #2570
What could potential request and response payloads look like? Should this be supported for refresh tokens only or also for e.g. client credentials?

[2021-06-18 20:37] wxdao commented on #2570
Request could be like a single element of the [response of Lists All Consent Sessions of a Subject](https://www.ory.sh/hydra/docs/reference/api/#lists-all-consent-sessions-of-a-subject):

[code]

Response could be like the [request of Accept a Consent Request](https://www.ory.sh/hydra/docs/reference/api/#accept-a-consent-request) but with only the session field:

[code]

[2021-06-18 20:44] wxdao commented on #2570
I don't have any concrete idea about client credentials grant yet. It's a bit weird for the provider to handle parts of its flow since clients are registered on the hydra side, the provider generally only knowing users. Maybe that would be another proposal?

[2021-06-20 00:08] mitar opened #2578 "README links to archived example apps"
Currently in the README:

But links to `Go` and `Node` apps link to archived repositories. Should those links be updated?

* https://github.com/ory/hydra-consent-app-go
* https://github.com/ory/hydra-consent-app-express

[2021-06-21 08:59] aeneasr commented on #2578
Yes, it should link to: https://www.ory.sh/hydra/docs/sdk

Would you be up for a PR? :)

[2021-06-21 09:06] aeneasr commented on #2570
That sounds good to me

I think that makes sense - it's sort of partially the accept consent payload so it would be easy to re-use. The question is, what happens if these are left empty? Should we expect the endpoint to echo the incoming `session` here or would empty mean it's the previous value? Is empty `null`, `undefined` or an empty object?

What happens if error/error_debug/error_description

[2021-06-21 10:04] vinckr commented on #2578
I will take this one, thanks a ton for your watchful eyes @mitar

[2021-06-21 11:47] zhang214214 opened #2580 "How Can I get the accessToken from JavaSdk?"
**How Can I get the accessToken from JavaSdk?**
#################################################
ApiClient defaultClient = Configuration.getDefaultApiClient();
    defaultClient.setBasePath("http://localhost");

    // Configure HTTP basic authorization: basic
    HttpBasicAuth basic = (HttpBasicAuth) defaultClient.getAuthentication("basic");
    basic.setUsername("YOUR USERNAME");
    basic.setP

[2021-06-21 18:44] #2578 closed

[2021-06-22 06:50] #2580 closed

[2021-06-22 11:59] wxdao commented on #2570
Simply replacing the internal session with the session field responded is easier to implement and understand I think. If nothing were to be changed just echo the value. It avoids complex patching or strategic merge crazy stuff.

The whole consent. Maybe the field should be named `should_revoke_consent`.

[2021-06-23 00:10] mitar commented on #2456
So I used https://developers.google.com/oauthplayground/ and Google is doing some funky stuff. If I enter only `email` as scope in the field and click `Authorize APIs`, after exchanging code for tokens, I get an access token with the following scope: `"scope": "https://www.googleapis.com/auth/userinfo.email openid". As you see, `openid` was automatically added even if it was not in the request. An

[2021-06-23 07:11] aeneasr commented on #2456
My comment was false then, sorry about that.

It still doesn't make sense to break the 30.000+ existing installations of Ory Hydra and all their downstream applications (presumably in the millions) to satisfy something which is not required by the specification or the certification process.

This is a nofix from my side because the disadvantages are so, so much more than the advantages of implemen

[2021-06-23 09:08] mitar commented on #2456
Why do you think this would break things for anyone? What is the use case where current behavior is an expected one?

[2021-06-23 09:09] mitar commented on #2456
I would claim that this is a privacy problem. Using an opaque access token (when not using JWT) I am now able to obtain subject ID, even when I should not be (user has not given consent to that).

[2021-06-23 09:10] aeneasr commented on #2456
It breaks for everyone relying on `userinfo` working without the `openid` claim.

[2021-06-23 09:11] mitar commented on #2456
Anyway, I think we can leave it closed and see if anyone else complains about this at any point in the future.

[2021-06-23 12:38] Sharad-Regoti-Unotech opened #2585 "Always getting skip as false in the consent request for android custom scheme redirect urls"
**Describe the bug**
I am using the [android-auth-package ](https://github.com/openid/AppAuth-Android) with a public client to initial auth-flow with PKCE.
I have successfully integrated the app & I am able to get refresh, id, access token.

But every time it I get skip = false even though I have set remember to true while accepting the initial consent,
After debugging the ory code, I believe this

[2021-06-23 13:41] aeneasr commented on #2585
This is unfortunately expected behaviour as required by the OpenID Connect Certification process. Without it, OpenID Certification would not be achieved.

The specification explains that public clients using a non-https redirect scheme have to go through consent always.

Would you maybe be open to add this to the documentation to help others avoid going down this rabbit hole? :) https://github.com

[2021-06-23 17:11] Sharad-Regoti-Unotech commented on #2585
What would be the consequences if just comment out that part of the code in ory hydra as shown in the image?

[2021-06-24 04:09] sharadregoti commented on #2585
Ok, I'll update the docs.
Can you give me some pointers about what info should I add?

[2021-06-27 13:32] aeneasr commented on #2585
I think a section explaining that public clients can’t skip consent (and the reason why) would be a perfect start :)

[2021-06-28 10:12] aeneasr commented on #2570
Agreed!

I think we should keep this functionality out and ask people to use the consent API instead if they want to do that?

[2021-06-29 13:23] pike1212 commented on #1485
Can we differentiate between a more complex filtering and a simple strategy of `?client_name=string&owner=string`? The only way to do this currently is to query and page through all clients then filter on the client side which is not ideal and will result in a lot of overhead for our use case.

[2021-06-30 09:27] driverpt opened #2597 "OpenTelemetry support"
**Is your feature request related to a problem? Please describe.**

At the moment Hydra does not support NewRelic Tracing, but since most of the providers already support OpenTelemetry Standard, it would be nice to support this Standard.

**Describe the solution you'd like**

As title says

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2021-06-30 09:34] aeneasr commented on #2597
Yup, the place to add that would be around here: https://github.com/ory/x/blob/master/tracing/tracer.go#L154

Contribs welcomed!

[2021-07-01 12:23] WeWebsterchen opened #2603 "scope charset support"
now STRATEGIES_SCOPE=DEPRECATED_HIERARCHICAL_SCOPE_STRATEGY can support users matches users.read.own

how can i implement users matches users:read:own type scope。can i config this in environment variable?

[2021-07-01 12:28] #2603 closed

[2021-07-03 09:35] nurzhan86 opened #2609 "Space character in secret.system value"
**Describe the bug**

Version 1.9 and above.
Whitespace is not defined as a character in secret.system value.

We use hydra 1.8.5 in k8s cluster, and we want to upgrade it to latest 1.10.2 version.
It so happened that the current system.secret value contains a string with space characters, for example: "abc 12345 678 9 def 987654".
And hydra 1.8.5 works great with that, no errors during or after i

[2021-07-03 16:52] driverpt commented on #2597
I did some digging and this might be a breaking change, which approach you suggest?

[2021-07-04 10:48] zepatrik commented on #2609
This looks like a code bug that we have to fix. Currently there seems no way to apply a workaround, sorry for that.

[2021-07-05 08:07] aeneasr commented on #2609
The bug is probably in here: https://github.com/ory/x/tree/master/configx

If you have any idea or trace - contribs are highly appreciated!

[2021-07-05 08:09] aeneasr commented on #2597
What would be the breaking change?

[2021-07-05 08:20] driverpt commented on #2597
Currently there is still no clear migration strategy to Opentelemetry from Opentracing

https://github.com/open-telemetry/opentelemetry-go/issues/453

It's still unclear the way to go with the new Go Lib

[2021-07-05 08:30] aeneasr commented on #2597
The original issue was about new relic right? So new relic does not support the way we currently do metrics? If so, a breaking change would only be acceptable if we keep support for all existing providers

[2021-07-05 18:44] driverpt commented on #2597
Newrelic supports Open Telemetry Spec. But regarding the code itself, the interface has changed and some older providers may not be supported.

[2021-07-06 07:01] svengerlach commented on #1974
Thank you for hydra in general and that change specifically! Being in the middle of the migration from a legacy authentication manager towards hydra and being required to remain compatible to various client integrations, the chance to include private/custom claims at the top level eases my life a lot.

Is there a due date when this change will be included in a tagged release?

[2021-07-06 15:34] kuttas commented on #2489
I'm seeing the same issue - I'm surprised no one else is running into this, since I am not specifying a specific older version of hydra.

[code]

MacOS 11.1, go version go1.16.5 darwin/amd64

I get a similar error trying to `go get -d github.com/ory/kratos`:
[code]

[2021-07-09 21:42] nurzhan86 commented on #2609
Is it possible to migrate db from one secret key to another (without whitespace)?
Any migration scripts or tutorial? What hash method used and what tables and columns must be?

[2021-07-12 09:23] vinckr commented on #2609
Did you see this guide @nurzhan86: [Secrets and Key Rotation](https://www.ory.sh/hydra/docs/next/guides/secrets-key-rotation/)?

[2021-07-12 09:44] nurzhan86 commented on #2609
Yes, but there is an information about adding new secret, not replace old with new
It was a question how to replace old secret with new (and re-encrypt old data with new secret), because old secret is not compatible with hydra new version because of bug in new version of hydra.

[2021-07-12 09:51] zepatrik commented on #2609
Sorry, we will have to fix the code first because you can't replace secrets, only add new ones. Until then you will have to stay on the old version, but be assured that we are prioritizing this issue.

[2021-07-12 10:03] zepatrik commented on #2609
Just to make sure, you are deploying hydra using our helm charts right? I think that results in `secrets.system` being exposed as env vars. Which in turn is probably the problematic part, because parsing a string array form env vars supposedly splits at spaces. Can you verify this is happening?
In that case it should be possible to work around the issue by ensuring the `secrets.system` are read fo

[2021-07-12 12:27] aeneasr commented on #1485
One option would be to apply AND filtering and have, in the future, an optional `?q` query string which would allow for searching. So `client_name=foo&owner=bar` would only return clients for owner `bar` and clients with name `foo`. This appears, as far as I can see, to be the best practice around this.

[2021-07-12 13:53] nurzhan86 commented on #2609
Yes, we are deploying hydra using helm chart.
Yes, `secrets.system` being exposed as env vars, I checked it by running hydra without k8s, just by docker-compose and env in it.
**And YES, it works** (secret with whitespaces) when I pass the secret.system from config.yaml, it works with version 1.10.2, but it is necessary that ENV system.secret must not be set, because it overrides values from confi

[2021-07-12 14:03] henrypham299 commented on #1550
@aeneasr  How about the case the user reset the password? and we want to expire all the accessToken and refresh token? Should we provide a way to expire all the access token and refresh token?

[2021-07-12 15:12] Demonsthere commented on #2609
Hello there @nurzhan86, I've done some testing and was able to install hydra with the following setup:

[code]

However, this format results in an error:

[code]

Could you verify if this is the same for you?

[2021-07-12 20:48] aeneasr commented on #1236
I am closing this as we will probably not be able to support this. Zero-downtime migrations heavily depend on the database backend (type, engine, and version) as every DB has subtle difference that can range from full on table, to range, to row locks depending on the migration.

Working around these is just too challenging. For most systems, a 99.99% uptime should be possible (~5 minutes per month

[2021-07-12 20:48] #1236 closed

[2021-07-12 20:52] aeneasr commented on #2356
Given the availability of https://github.com/ory/ory-config I'll be closing this :)

[2021-07-12 20:52] #2356 closed

[2021-07-12 20:53] aeneasr commented on #2171
Resolved on master :)

[2021-07-12 20:53] #2171 closed

[2021-07-12 20:55] #2539 closed

[2021-07-13 09:44] aeneasr commented on #2609
I think we use comma separation for env vars 🤔

[2021-07-13 10:22] zepatrik commented on #2609
https://github.com/ory/x/blob/137e7b6b3a38c0af1a4b94879c5cbd9a8d406a90/castx/castx.go#L56-L64
[code]
So if we have any `,` char in there, we split at `,` else we split at ` `.
This in turn also means that the issue exists for everyone who has a comma in their secret :thinking:

[2021-07-13 10:32] zepatrik commented on #2609
See the cases I added in the linked PR. @Demonsthere the fix would be to actually to concat the secrets array by comma instead, and also always append one.
@nurzhan86 I think a workaround would be to add a comma to the end of your secret

[2021-07-13 10:39] zepatrik commented on #2609
Anyway, what we need is a way that supports both comma and space inside of the env vars. I fixed that in viper back in the day btw: https://github.com/ory/viper/pull/18 but it got lost in the migration process to koanf

[2021-07-13 11:03] Demonsthere commented on #2609
I may have been able to fix the env parsing in the chart logic in https://github.com/ory/k8s/pull/296 :)

[2021-07-13 11:34] zepatrik commented on #2609
Ey, found another workaround @nurzhan86 that is actually reliable: passing the secrets as an JSON array https://github.com/ory/x/blob/137e7b6b3a38c0af1a4b94879c5cbd9a8d406a90/configx/koanf_env.go#L44-L47

[2021-07-13 12:05] nurzhan86 commented on #2609
As a temporary workaround for my dev I have removed secret.system and secret.cookie env from deployment.yaml and have added it to configmap.yml under config.yaml section, like:

data:
  config.yaml: |
{{ include "hydra.configmap" . | nindent 4 }}
    secrets:
      cookie:
        - abcde abcde abcde 123456
      system:
        - abcde abcde abcde 123456

and it is deployed successfully version 1

[2021-07-13 12:08] zepatrik commented on #2609
Btw @nurzhan86 you can format code blocks using three backticks: https://gist.github.com/cuonggt/9b7d08a597b167299f0d#code-snippets

[2021-07-13 12:10] #2160 closed

[2021-07-14 08:49] #2366 closed

[2021-07-14 08:50] #2609 closed

[2021-07-15 13:55] alkiko commented on #2416
Hi @lukestoward ,
We're looking to achieve something similar with the oauth2 Device Authorization Grant and @vinckr, @tacurran  and @aeneasr suggested having a look at your work.
Do you have some of the thoughts from this thread implemented that we can test, review or in any way contribute to? 😊

[2021-07-15 14:03] lukestoward commented on #2416
Hi @alkiko, unfortunately I have been unable to progress this due to a change in priorities at work. I managed to get an early WIP working, but had to stop developing due to a change in priorities. I hope to pick this up again fairly soon.

[2021-07-15 14:19] alkiko commented on #2416
I see @lukestoward. Would you mind sharing that WIP so we can test it and perhaps contribute to it? Would be a shame to have to start all over :)

[2021-07-15 15:21] lukestoward commented on #2416
@alkiko I will see if I can find some time to tidy up my fork and push that. I'll let know if/when I can do it, cheers 😄

[2021-07-15 21:47] bigred8982 commented on #2477
Okta has attempted to address the recent crack-down on 3rd party cookies (which prevents using an iframe to refresh the user session if your idp is 3rd party) with a new feature called Refresh Token Rotation.

https://developer.okta.com/docs/guides/refresh-tokens/refresh-token-rotation/

How it works is that they will let a SPA application ask for and get a refresh token (this is generally frowned

[2021-07-16 07:41] aeneasr commented on #2477
Thank you @bigred8982 - this is essentially what Ory Hydra is capable of since several years. You can use authorize code with public clients in Ory Hydra. Refresh tokens are one time use and we have strict anti-replay policies in place.

[2021-07-16 13:51] alkiko commented on #2416
Sounds awesome @lukestoward! 😄

[2021-07-20 13:44] pike1212 opened #2642 "Jaeger being unavailable is a fatal error that stops service from starting"
**Describe the bug**

A failure to initialize the tracer is fatal, even though it won't affect the functionality of the service.

https://github.com/ory/hydra/blob/f588ec69d4fa03f602d3cbb20abd4188195a7375/driver/registry_base.go#L436

[2021-07-20 16:24] mcandre opened #2643 "Indicate _which_ request generates the error "The request failed with the following error message:"..."
**Is your feature request related to a problem? Please describe.**

There is very little context to debug the error message `The request failed with the following error message:`...

**Describe the solution you'd like**

Please note the basic *HTTP request URL* that triggers the error, so that engineers are better positioned to investigate errors.

[2021-07-20 17:31] mcandre opened #2644 "Format client list as JSON"
hydra client get vs. list currently use different output formats, JSON vs raw SQL rows.

[2021-07-21 12:54] aeneasr commented on #2643
Thank you for contributing to this repository by creating an issue!

Unfortunately, your issue lacks vital information, such as log files, the error message, the software version, your configuration or other pieces of the puzzle.

Please also ensure that your issue is appropriately formatted. If you do not know how to write markdown, you can find help [here](https://guides.github.com/features/mast

[2021-07-21 12:54] aeneasr commented on #2644
Thank you for contributing to this repository by creating an issue!

Unfortunately, your issue lacks vital information, such as log files, the error message, the software version, your configuration or other pieces of the puzzle.

Please also ensure that your issue is appropriately formatted. If you do not know how to write markdown, you can find help [here](https://guides.github.com/features/mast

[2021-07-22 03:05] henrypham299 opened #2645 "Refresh token auto inactive or delete"
**Describe the bug**

I dont know how to reproduce that bug, because this bug occur sometime

I use `AppAuth` to login and build the mechanism to refresh the token, but sometimes i cant not refresh token I checking on the hydra data i saw the `refresh_token` has is_active = false, or maybe deleted I cant check it. I dont know any reason for this issue, could you help me to check it? Is it relate t

[2021-07-22 15:16] #2645 closed

[2021-07-22 16:12] svrakitin commented on #2570
@aeneasr My team is kinda blocked by this so I will have to work on this proposal.

[2021-07-23 10:26] ludydoo opened #2648 "Disable ory hydra making calls to google"
Looking at the logs for a ory hydra pod, I see that it's trying to contact google

Is there any way to disable this ?

[code]

[code]

[2021-07-23 10:38] ghenry commented on #2648
See the docs about disabling the project usage telemetry.

[2021-07-26 08:13] aeneasr commented on #2648
What @ghenry said :)

https://www.ory.sh/docs/ecosystem/sqa

[2021-07-26 08:13] #2648 closed

[2021-07-26 08:14] #2643 closed

[2021-07-26 14:56] driverpt commented on #2130
This can be done in the scope of #2597 , since AWS has AWS OTEL Collector which natively integrates with XRay

[2021-07-28 13:05] RazerM opened #2651 "Tokens expire after 30 days even if ttl.refresh_token=-1"
**Describe the bug**

I have configured hydra with `TTL_REFRESH_TOKEN=-1` and wanted to check the effect of this setting. Using hydra token introspection on a new refresh token returns an `exp` value 720h in the future (which is the default value for `TTL_REFRESH_TOKEN`. I checked that my configuration is picked up correctly by changing the value to 1h and seeing the effect on `exp`.

**Reproducin

[2021-07-29 09:54] naveenpaul1 commented on #2530
**Describe the bug**

When I start the hydra service with hydra serve all pops up a warning message with the following:
`hydra_1                | time=2021-07-29T09:43:50Z level=debug msg=Ignoring migration file 20201116133000000000_set_null_time.sqlite.up.sql because dialect is not supported: unsupported dialect sqlite3 audience=application service_name=ORY Hydra service_version=v1.10.3`

**Repro

[2021-07-29 10:23] aeneasr commented on #2530
It's only a debug message, you can safely ignore it

[2021-07-29 10:33] naveenpaul1 commented on #2530
@aeneasr : Thank you for your quick replay, could you please tell me why we are getting this debug message just to make it more clear?

[2021-07-30 10:51] aeneasr commented on #2651
Hm, not sure where this is coming from. It would be very helpful if you have a code trace already figured out, or would be willing to supply a patch!

[2021-07-30 11:11] aeneasr commented on #2642
Yeah, that's definitely a bug and we shouldn't fatal in that case but instead retry to connect to Jaeger!

[2021-08-02 15:00] #1485 closed

[2021-08-04 15:46] #2513 closed

[2021-08-06 09:15] sidharthramesh opened #2663 "Multi-architecture builds"
**Is your feature request related to a problem? Please describe.**

I'm using an M1 Mac, with docker. Trying to run the ORY Hydra image is very slow because it's built for x86.

**Describe the solution you'd like**

Include arm64 in the pipeline while pushing to Dockerhub for all ORY projects.

**Describe alternatives you've considered**

Building the image on my machine using the Dockerfile doesn

[2021-08-06 12:07] aeneasr commented on #2663
Absolutely! Unfortunately we do not have access to an M1 yet so it is difficult for us to test. What you could do qould be to use our goreleaser config and goreleaser image (https://github.com/ory/xgoreleaser) to figure out whats needed for M1 buidls and contribute those changes :)

[2021-08-06 13:48] sidharthramesh commented on #2663
Okay. Perfect! I'll take a look at the GitHub actions workflow. Will try to include arm64 using buildx.

[2021-08-06 19:23] sidharthramesh commented on #2663
Hey @aeneasr, I want to know where the hydra image is being built before being published to dockerhub.

In the repo that you mentioned, I see the workflow for the oryd/xgoreleaser image, but I don't see one for hydra anywhere. So, I'm assuming then that the build happens on Dockerhub or another CI/CD provider?

[2021-08-09 13:55] aeneasr commented on #2663
We use goreleaser to build the binaries and images: https://goreleaser.com

The release command is: https://github.com/ory/ci/blob/master/src/scripts/releaser/release.sh#L30

Goreleaser is responsible for pushing everything :)

[2021-08-09 17:44] sidharthramesh commented on #2663
Luckily for us, goreleaser added this feature very recently: https://github.com/goreleaser/goreleaser/issues/530.

Leaving this for other contributors (and future me):

Found a nice tutorial here: https://carlosbecker.com/posts/multi-platform-docker-images-goreleaser-gh-actions/

There are some changes that are needed in the goreleaser.yaml file. Qemu and buildx should also be setup in circleCI be

[2021-08-10 10:46] anderslauri opened #2666 "[FEAT] Support Back-Channel logout based on client id(s)"
**Is your feature request related to a problem? Please describe.**

The current implementation of `back_channel` is [global ](https://github.com/ory/hydra/blob/master/consent/strategy_default.go#L673) for all clients which support `back_channel` - this is rather inflexible and we would like the ability to tune this more fine granular based on accepting logout request via LogoutProvider.

**Describ

[2021-08-10 10:56] anderslauri commented on #2666
Given an OK, I can provide the PR. However, perhaps I missed a part of the specification or reasoning to the existing implementation - hence this issue.

[2021-08-10 11:00] anderslauri commented on #1825
🤔

Is `go-jose` worth relying on? The activitiy seems relatively limited. There is a community fork available [here](https://github.com/golang-jwt/jwt) - might be worth considering?

[2021-08-10 12:03] aeneasr commented on #1825
You're probably viewing the master branch, which is not the correct one. This one is: https://github.com/square/go-jose/tree/v2

[2021-08-10 16:28] anderslauri commented on #1825
No, I meant `v2` - looks like it's only being updated whenever a security issue arise. Never the less this might be perfectly sufficent.

[2021-08-10 19:24] aeneasr commented on #1825
That's pretty good - go-jwt has had several CVEs over the past two years and it has already gone through multiple community forks:

* https://github.com/dgrijalva/jwt-go
* https://github.com/form3tech-oss/jwt-go

[2021-08-10 21:40] mcandre opened #2667 "Prefix all your application's environment variables with HYDRA_"
Hi,

Please namespace the Hydra application's environment variables, in order to reduce the risk of collision with other processes.

[2021-08-11 07:08] #2667 closed

[2021-08-11 07:09] #2644 closed

[2021-08-12 12:16] littldr commented on #2651
@janz93 and I stumbled over the same issue. And it's not just for the token introspection. The refresh token really expires after 720h (default value).

After digging a bit in the code we found the following:

The lib used to parse the config [knadh/koanf](https://github.com/knadh/koanf) uses `time.ParseDuration` if the value of a duration field cannot be interpreted as integer or is zero or less.

[2021-08-15 10:40] dibyajyotibehera commented on #2453
@aeneasr i can pick this up. However , looks like it was achieved  in PR [628](https://github.com/ory/hydra/pull/628) . Wondering how come its missing in master.

[2021-08-15 10:48] aeneasr commented on #2453
Yeah also not sure what this is referring to any more. Maybe we can close

[2021-08-15 11:11] dibyajyotibehera commented on #2453
actually i don't see the changes merged in PR [628](https://github.com/ory/hydra/pull/628) in master now. Was it intentionally dropped ?

[2021-08-16 08:26] dibyajyotibehera commented on #2066
@Marlinc @aeneasr  - i could replicate the error . Looks like debug error messages  are  possible only with enabling following env variables -

OAUTH2_EXPOSE_INTERNAL_ERRORS=true;
OAUTH2_INCLUDE_LEGACY_ERROR_FIELDS=true

once you set the above env variables , you can get error_debug field as below .

[code]

Should we close this issue ?

[2021-08-16 08:47] aeneasr commented on #2066
Maybe you could add a section in the docs about this? That would be awesome! Preferably here https://www.ory.sh/hydra/docs/debug or here: https://www.ory.sh/hydra/docs/debug/config

[2021-08-16 12:44] dibyajyotibehera commented on #2066
@aeneasr - Please review - https://github.com/ory/hydra/pull/2680

[2021-08-16 13:02] aeneasr commented on #2066
Thank you!

[2021-08-16 13:02] #2066 closed

[2021-08-16 13:53] sagarshah1983 opened #2681 "Jwks public keys with use=sig parameter to be treated same as key_ops=["verify"]"
### Discussed in https://github.com/ory/hydra/discussions/2675

**Describe the bug**
When using private_key_jwt using a client's public keys url, the approach for validating signature should be the same for following both options

1. use = sig
2. key_ops = ["verify"]

As per Specs, both are optional. And also that if both are used, then the value provided in both should be consistent.
Ref: https:/

[2021-08-16 17:38] sagarshah1983 opened #2682 "Invalid http response code when calling Token endpoint with incorrect client id and secret"
**Describe the bug**
We are calling token endpoint with incorrect client id and secret for client_credentials flow in order to test compliance with OpenID Specs - https://openid.net/specs/openid-connect-core-1_0-final.html#ClientAuthentication

As per specs section 3.1.3.4:
[code]

Same error (401) is received when calling token endpoint with private_key_jwt as well. Expected error code is 400 in

[2021-08-17 06:03] aeneasr commented on #2682
I believe the OpenID spec is not accurate enough here. The original OAuth2 spec formulates it like this:

               client authentication included, or unsupported
               authentication method).  The authorization server MAY
               return an HTTP 401 (Unauthorized) status code to indicate
               which HTTP authentication schemes are supported.  If the
               cli

[2021-08-17 06:15] aeneasr commented on #2681
Thank you, we indeed do not check `key_ops`. Is it possible in your use case to rely on `use` instead? As per spec:

   use, if either is to be used by the application.

I am not sure where we would specify this.

But yeah, we could also just add support for key_ops. I assume the relevant line is around here:

https://github.com/ory/fosite/blob/c4ff105ec7c4c31811fbfa3674a50a47534a48e4/client_authe

[2021-08-17 12:06] sagarshah1983 commented on #2681
Thank you for your response and clarifications @aeneasr!
Challenge is we need to get public keys via 3rd party client's public key url. And inferno is one of the certification tool which uses key_ops instead of use. So we have no control over the same.
Could we put the additional condition to check for key_ops at the line you mentioned and create a PR? I am not sure what all other tests or documen

[2021-08-17 16:05] sidharthramesh commented on #2663
Hey @aeneasr, I think setting use: buildx in the .goreleaser.yml is what's needed. However, I am not able to test this because it includes dealing with CircleCI and the orbs. Maybe you can test this out and see if it works?

[2021-08-17 16:09] aeneasr commented on #2663
The best way to test it would be to follow: https://github.com/ory/xgoreleaser#testing-builds

So basically make the changes you need for multi-arch, then update the xgoreleaser image to whatever is needed to get it working, then follow the steps in "testing builds".

Since I do not have an M1 I can not test it unfortunately.

[2021-08-17 17:59] sagarshah1983 commented on #2682
Thanks for your response @aeneasr
So expected behaviour passing correct client id but incorrect client secret is also 401 error code Or should that be 400 in that case?

[2021-08-17 18:12] aeneasr commented on #2682
That is 401

[2021-08-17 19:08] sagarshah1983 commented on #2682
Ok, so my usecase is little different sorry for confusing earlier with invalid client id and with client secret flow.
Use case: An oauth client with auth method as private_key_jwt
JWT Token is signed by the app using its keys in which it uses correct client_id but invalid iss claim and passes that assertion to Hydra.
In this case, hydra fails saying invalid_client. Having said that client_id passe

[2021-08-17 20:21] aeneasr commented on #2682
As the JWT fails to pass the requirements for authenticating the client, 401 is the correct error code here as well - this is also a test of OIDC Conformance so in line with what is allowed by OpenID Connect.

[2021-08-17 21:02] sagarshah1983 commented on #2682
Thanks for clarifying that @aeneasr. This could be closed in that case.

[2021-08-17 21:11] aeneasr commented on #2682
My pleasure!

[2021-08-17 21:11] #2682 closed

[2021-08-18 20:13] WeWebsterchen opened #2685 "token interface check redirect_uri failed"
when call oauth2/token interface why redirect_uri is require param? This variable is not a required field in the OpenID Token interface。authorizeRequest.GetRequestForm().Get("redirect_uri") is null，Why does this code need this judgment。

![1629317925007](https://user-images.githubusercontent.com/30589136/129966412-1b0ca05f-517c-479b-bd48-ee34be766ce1.jpg)

request param:grant_type=authorization_co

[2021-08-19 07:37] #2685 closed

[2021-08-20 10:35] lukaswanner opened #2688 "Connection refused on localhost"
**Describe the bug**

Im trying to implement the login and consent screen. I started with clone the repo at https://github.com/ory/hydra-login-consent-node.  I followd the guide at https://www.ory.sh/hydra/docs/guides/login

I then changed the settings for the hydra docker container to fit the login and consent node app.
The app is running at localhost:3000 and hydra is running at localhost:9000.

[2021-08-20 10:56] lukaswanner commented on #2688
closed since i just had to change the basePath in config.ts.

[2021-08-20 10:56] #2688 closed

[2021-08-23 09:28] alkiko commented on #2416
Any news on this @lukestoward? :)

[2021-08-24 18:43] pike1212 opened #2691 "Swagger docs use "name" not "client_name" for filter"
https://github.com/ory/hydra/blob/ea6fdfd6318b964280606a83d733e1e01c4a5b30/client/handler.go#L269

[2021-08-24 18:44] pike1212 commented on #2691
Should we change this to name or update docs to use client_name?

[2021-08-26 15:40] Wicker25 opened #2701 "Database password is visible in the logs"
**Describe the bug**

When the log level is set to `info` (the default level) the database password is visible in the logs. Is this the desired behaviour or should we hide the sensitive information before sending out the logs?

_Server logs_
[code]

_Server configuration_
[code]

**Expected behavior**

Sensitive information shouldn't be logged.

**Environment**

- Version: v1.8.5, Helm Chart v0.19

[2021-08-27 15:08] #2701 closed, assigned to nobody

[2021-08-30 19:25] isodude commented on #1084
I've done a couple of implementation of this now and it's fairly simple, what I've added to projects is the possibility to whitelist SANs and fingerprints. From what I can tell it's not possible to specify:
* client certificates
* CA certificates
* Allowed SAN/Fingerprints

What more is hindering mTLS? It would be super since you can power it with certbot/step-ca in the backend, generating all the

[2021-08-31 06:48] aeneasr commented on #2681
@sagarshah1983 sorry for my late reply - the best course of action is to add this functionality to go-jose (see https://github.com/square/go-jose/issues/270) and then update the dependency here once it is merged :)

[2021-08-31 06:49] aeneasr commented on #2691
The docs should be updated to `client_name` :)

[2021-08-31 16:20] sagarshah1983 commented on #2681
Thanks @aeneasr for providing your direction.

[2021-09-01 06:13] aeneasr commented on #2651
Whoops, looks like I forgot to hit that "comment" button. Thank you for the thorough investigation! That looks like a classical regression. Your analysis makes sense - setting `-1ns` or rather allowing a value `-1` by doing e.g. `koanf.GetInt()` before `GetDuration` would be the right approach!

[2021-09-01 06:28] #2570 closed

[2021-09-01 10:18] littldr commented on #2651
Thanks for your respone @aeneasr ! Allowing `-1` is maybe a more sustainable solution. Therefore I created a PR for knadh/koanf#104 .

But as it is an external lib, it may take some time until the PR is reviewed and merged.
So that's why I prepared a temporary workaround in ory/x#389. What do you think? Should we merge it or wait until `konaf` can be updated?

[2021-09-01 10:57] knadh commented on #2651
https://github.com/knadh/koanf/pull/104 is merged. Thanks for the fix.

[2021-09-01 11:35] alkiko commented on #2416
Awesome - thanks @lukestoward. I'll try taking it for a spin!

[2021-09-01 11:50] littldr commented on #2651
Thanks for the fast response @knadh ! :-)

I've created a PR to update `ory/x`. After that hydra can be updated and hopefully this issue will be solved. :-)

[2021-09-01 12:44] alkiko commented on #2416
Quick question @lukestoward:
Just tried to run `make docker`, but ran into some go package errors.

Noticed you did some replace in go.mod referencing a local ../fosite directory.

The error:
[code]

The suspects:
[code]

I cloned your fosite fork, but didn't see any commits from your end there, so still failing to build the docker image. Perhaps you have some local changes to your fosite fork too

[2021-09-01 14:32] alkiko commented on #2416
Thanks @lukestoward. Excited to give this a go. Unfortunately still getting the `#13 19.45 go: github.com/ory/fosite@v0.39.0 (replaced by ../fosite): reading ../fosite/go.mod: open /go/src/github.com/ory/fosite/go.mod: no such file or directory` error.

Did you also run it using:
[code]
Or how did you get it up and running?

[2021-09-01 15:19] #2691 closed

[2021-09-01 15:52] lukestoward commented on #2416
@alkiko fosite and hydra need to be in the same parent directory. I didn't use docker, I had to run it on my machine using vscode and the following launch configuration.
[code]
Honestly, from what I recall it's a nightmare to get running as you need to also run the login/consent UI app (which I modified from the example provided on the Ory docs). It was tricky to work with before my WIP changes. I

[2021-09-02 07:01] Crevil opened #2708 "Configurable token endpoint auth methods supported"
**Is your feature request related to a problem? Please describe.**

Our use of hydra implies creating clients that are only allowed to use the `client_secret_basic` token auth method.
But as the `.well-known/openid-configuration` endpoint uses a hard coded list ([handler](https://github.com/ory/hydra/blob/1248553ce481487e9722f361bb4f4ac1f3a40af6/oauth2/handler.go#L241)) we cannot indicate this lim

[2021-09-02 07:26] aeneasr commented on #2708
AFAIK that field is only used during OIDC Dynamic Client Registration, implying that unless you support that, it shouldn't be an issue!

[2021-09-02 08:49] ToonvanStrijp opened #2709 "migration fails first time (postgres)"
**Describe the bug**

We're using postgres for our hydra instance. During setup we noticed that the migration always fails the first.

[code]

**Reproducing the bug**

Steps to reproduce the behavior:

1. Create a postgres database (we use the zalando postgres operator)
2. Enable the `autoMigrate` option in the hydra helm chart
3. Install the helm chart with your custom values.yaml file.
4. A migr

[2021-09-02 08:59] ToonvanStrijp commented on #2709
@aeneasr This is my DSN: `postgres://hydra:ayEfJeUyQ3AmCfraMMwog7WR9mSwPgMnGKxeYsCkzhwy5G9UYg69XcbWnMjQLbAI@acid-hydra-database:5432/hydra`

[2021-09-02 09:21] aeneasr commented on #2709
Thank you - so the database is running in the cluster? Is there maybe some connection issue to the cluster? For example, k3d is using lots of resources, causing MySQL to become slow and potentially kill a connection sometimes (hence EOF). Because this behavior doesn't look like it's the fault of Hydra.

Also which MySQL version are you using, and, is the error consistently reproducible. Meaning, i

[2021-09-02 09:34] ToonvanStrijp commented on #2709
@aeneasr I'm using postgres version 13. And I think you're right about the resource problem. The machine I'm running this on isn't that powerful. If I take a look at the database logs.

[code]

So I think we can close this issue, I'll test this on a more powerful machine.

[2021-09-02 09:39] aeneasr commented on #2709
Nice, thank you for the follow up 👍

[2021-09-02 09:39] #2709 closed

[2021-09-02 10:03] ToonvanStrijp commented on #2709
Tested this on a more powerful machine and it worked all fine. So we can confirm this was indeed a resource limit issue.

[2021-09-02 13:35] Crevil commented on #2708
Yeah by systems that is true, but we also see clients use it for manually inspecting the configuration.
TBH I'm not sure whether that is a general pattern. If one cannot usually rely on this data to indicate what clients can use, then I think we are all fine and can leave it as is. :+1

[2021-09-02 14:08] alkiko commented on #2416
Alright, thanks for the pointers @lukestoward. I had the feeling it would take quite a bit of effort to get up and running 😅

[2021-09-02 15:34] roko99 commented on #2514
Hello. In our case those tables are growing fast:
"public.hydra_oauth2_refresh"
"public.hydra_oauth2_oidc"
"public.hydra_oauth2_code"
"public.hydra_oauth2_authentication_request"
"public.hydra_oauth2_consent_request"

And it would be fine, if `janitor` wil be able to cleanup them.

[2021-09-04 05:44] aeneasr commented on #2514
@flavioleggio just checking if this issue has been resolved by your recent works on the janitor?

[2021-09-04 07:18] flavioleggio commented on #2514
Actually no, this would be step two of my original idea. In the actual version janitor just executes the same queries faster, but deleted records did not change.

I just need to find time to work on this :)

[2021-09-04 11:54] aeneasr commented on #2708
Ok in that case I think we should close it as there is currently no toggle to influence actual behavior. If you feel strongly about this it is also possible to implement the discovery as your own endpoint / proxy :)

[2021-09-04 12:05] aeneasr commented on #2514
I see, thank you for the quick response :)

[2021-09-04 13:25] aeneasr commented on #1638
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-04 13:25] #1638 closed

[2021-09-04 15:04] Crevil commented on #2708
Fine with me. Thank you for the quick responses 🙏

Do you know whether other OIDC servers can be configured like this? Just if you happened to know. Otherwise I'll do some research on my own 😀

[2021-09-04 15:15] aeneasr commented on #2708
No idea, sorry!

[2021-09-04 15:36] Crevil commented on #2708
All right, thanks.

I'll close this for now and look around.

Thank you again 🙏🙌

[2021-09-04 15:36] #2708 closed

[2021-09-05 12:16] aeneasr commented on #1476
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-05 12:16] #1476 closed

[2021-09-05 12:17] aeneasr commented on #1610
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-05 12:17] #1610 closed

[2021-09-05 12:21] aeneasr commented on #1712
Sorry for not replying. This is possible when using JSON Web Keys (private_key_jwt auth), as you can register more than one JWK per client. It is an advanced flow, but it’s also an advanced requirement :)

For secrets there is no standardized option and due to low community interest in the issue I am closing this issue, see reasoning below :)

I am closing this issue as it has not received any eng

[2021-09-05 12:21] aeneasr commented on #1663
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-05 12:21] #1663 closed

[2021-09-05 12:23] aeneasr commented on #1519
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-05 12:23] #1519 closed

[2021-09-05 12:30] aeneasr commented on #1979
There is little use to this. It was brought up by someone who ran Hydra on a raspi with ARM which was slow but the current way is fully sufficient and we can not accommodate every platform and use case.

[2021-09-05 12:30] #1979 closed

[2021-09-05 12:34] aeneasr commented on #1712
Sorry, actually I noticed that we support this now in fosite. So it would be little work to add it here, if anyone is up for the challenge. First it would need an API proposal though!

[2021-09-05 20:36] RickvdP opened #2718 "hydra-client.acceptLoginRequest() returns 400 because of double encoded body"
**Describe the bug**

Using  `@ory/hydra-client@1.10.6` hooked up with a local `hydra@v1.10.6` instance ​it seems that `acceptLoginRequest()` is in a way wrongly encoding the request body to the admin API endpoint, resulting in a 400 response.

When manually submitting the same `PUT` request with the same body, the request also fails. When correcting the `body` encoding manually, I'm being welcome

[2021-09-06 04:19] joelshepherd commented on #2718
Seems it might be related to this upstream change (bug?) in axios: https://github.com/axios/axios/issues/4018

I am getting this in an older client version too, after updating my packages.

[2021-09-06 05:57] aeneasr commented on #2718
Thank you @joelshepher it looks like that could be indeed the cause!

[2021-09-06 08:42] RickvdP commented on #2718
Yep - that's it. Confirming that it works fine when exact pinning axios to `0.21.1`.

Workaround for others:

[code]

Find the `@ory/hydra-client` section and add the `dependencies` key, pinning to the last working version of axios.
[code]

The linked axios PR shows that they're attacking the problem already as we speak, so unless you're actively blocked right _now_, easiest fix is probably waitin

[2021-09-07 10:02] kobayashilin opened #2722 "POST /oauth2/token with refresh_token encounter 500 error because the id_token claims.ExpiresAt doesn't update"
**Describe the bug**

POST /oauth2/token with refresh_token encounter 500 error because the id_token claims.ExpiresAt doesn't updated.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Finished the sign-in flow and get the refresh token / id token
![image](https://user-images.githubusercontent.com/4756036/132323511-c7a9271e-836d-4df4-9d1b-255c8c1ef229.png)

2. Wait the 1.1 min ( let t

[2021-09-07 12:43] Karlinator commented on #2718
Can confirm that Axios v0.21.4 fixes this.

[2021-09-07 12:53] RickvdP commented on #2718
_"The best kind of problems are the ones that solve themselves"_ - me, just now, 2021

[2021-09-07 12:53] #2718 closed

[2021-09-07 14:04] aeneasr commented on #2722
That’s an interesting find! Can you confirm this is an issue in the newest release also?

[2021-09-07 14:26] #2651 closed

[2021-09-08 06:46] kobayashilin commented on #2722
Sorry It's my mistake to change the order for custom handler.

![image](https://user-images.githubusercontent.com/4756036/132459841-b74e9779-4de5-480a-83b0-0f855f5ec64e.png)

[2021-09-08 06:46] #2722 closed

[2021-09-08 16:13] ludydoo opened #2728 "immutable configuration key "dsn" was changed"
**Describe the bug**

By using hashicorp vault to rotate the oryd hydra DSN, oryd hydra will log an error:

hydra time=2021-09-08T16:09:25Z level=error msg=A configuration value marked as immutable has changed. Rolling back to the last working configuration revision. To reload the values please restart the process. func=github.com/ory/x/configx.LogrusWatcher.func1 file=/go/pkg/mod/github.com/ory/x

[2021-09-08 16:29] aeneasr commented on #2728
You can not update the DSN on the fly and it will never be possible, sorry!

[2021-09-08 16:29] #2728 closed

[2021-09-08 16:39] kubitre opened #2729 "Configuration"
Hello! I maintainer of library gostructor(https://github.com/goreflect/gostructor). Maybe my library will be useful to you? It is quite convenient to configure the application, and you do not need to write a lot of boilerplate code. If u have example usages i can set into this tred.

Also, if you have thoughts that my library is missing, you can write to me

[2021-09-08 16:44] #2729 closed

[2021-09-09 12:46] grega opened #2732 "Documentation for hydra-clients-import is incorrect"
The docs at https://www.ory.sh/hydra/docs/cli/hydra-clients-import state as a description:

"Imports cryptographic keys of any format to the JSON Web Key Store

This appears to be incorrect. The description would be expected to be:

"Import OAuth 2.0 Clients from one or more JSON files"

(and this is confirmed by an earlier version of the docs for this CLI interface: https://www.ory.sh/hydra/docs/

[2021-09-09 18:55] jay-lark opened #2734 "Janitor does not report connection errors and ignores logging level"
**Describe the bug**

I haven't run into any SQL errors yet, but running the Janitor command with incorrect database credentials will give the impression that everything is working fine.

It also seems to ignore the log level set in a config file.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Run `d./hydra janitor --requests --tokens -c hydra.yml`

You'll get back the following
[c

[2021-09-10 05:42] aeneasr commented on #2734
That looks indeed like a bug - any contributions towards fixing that are highly appreciated!

[2021-09-10 07:14] leapit opened #2736 "Is there anyway to add permission for limit admin rest api access or custom message via docker compose mode"
**The first question**
Run hydra with docker compose `quickstart.yml`,According the doc,add client via REST api,like this
[code]
But in production mode,generally we do't want to expose 4445 to outside,otherwise any one can create a client remotely,is there a way to add a permission for this?

**The second question**
I production mode,when you access port 4444 or port 4445,will show below message,

[2021-09-10 07:30] leapit opened #2737 "When start quickstart.yml throw many error message"
**I run Hydra via quickstart.yml and quickstart-postgres.yml,got below error message**

[code]

The Postgres error `host=postgresd user=hydra database=hydra: dial error (dial tcp 172.26.0.2:5432: connect: connection refused)` and migrate sql error.

Is this message by design?

[2021-09-10 10:53] #2737 closed

[2021-09-10 10:54] #2736 closed

[2021-09-12 07:03] aeneasr commented on #2732
Oh yeah that appears to be a copy/paste error! Would you be up for a fix? :)

[2021-09-13 04:01] Botary opened #2741 "Replace the unmaintained JWT library to the community maintained one"
The current JWT library that replaced the vulnerable one in 9a484fc [github.com/form3tech-oss/jwt-go](https://github.com/form3tech-oss/jwt-go) is now unmaintained and archived

It can be replaced with a new community maintained library [github.com/golang-jwt/jwt](https://github.com/golang-jwt/jwt)

[2021-09-13 08:26] zepatrik commented on #2741
Thanks, finally there is a solution for the `jwt-go` problem...
Would you be up for a PR?

[2021-09-13 08:27] zepatrik commented on #2741
This also applies to our other projects btw, so anyone looking into this would help a lot by making a PR in the others as well.

[2021-09-13 10:09] Botary commented on #2741
Ok, do you wanna use `go mod replace directive` again? Or you wanna replace it properly and delete all the references to github.com/dgrijalva/jwt-go?

[2021-09-13 10:14] zepatrik commented on #2741
I think both, as we have to use `replace` for deep dependencies.

[2021-09-13 12:52] Botary commented on #2741
Ok, I'm preparing a pull request with only the `replace directive` for hydra, but how to approach `I confirm that this pull request does not address a security
vulnerability.` question? Because technically it doesn't since it was already solved with the previous library replacement.

[2021-09-13 12:52] zepatrik commented on #2741
That's fine, we discussed it here already.

[2021-09-13 19:09] StefanVrecic opened #2745 "Redirect URI after succesful login and consent is not sending token to expected URI?"
**Describe the bug**

Running through 5-minute tutorial, setting the callbacks URI, I expect to get the tokens on my routes

**Reproducing the bug** (token in 4th command has been pasted from terminal)

[code]
I go through the login and consent flow and it works perfectly, and then I am taken to http://127.0.0.1:5555/callback?
with Access Token, Refresh Token, Expires in and Id Token. I

**Expecte

[2021-09-14 07:44] aeneasr commented on #2745
Unfortunately it appears that you have some misconceptions about the flow. :/ The list you gave is just an allow list. The `hydra token user` is always using itself as the callback as it can not - and that is per definition - initiate the flow for another app.

If you want OAuth2 for your app, you need to add the whole flow (e.g. using PassportJS) to your app. `hydra token user` is just a demo com

[2021-09-14 07:44] #2745 closed

[2021-09-14 11:30] #2741 closed

[2021-09-16 02:26] k90s commented on #1561
Hey guys, I forked and twisted it a little bit to add password grant support, feel free to check it out.

https://github.com/gdpass/hydra

[2021-09-16 10:53] miroljub1995 opened #2748 "Missing schemas"
Version in [schemastore](https://github.com/SchemaStore/schemastore) is updated to v1.10.6, but now it looks like some of the reference schemas could not be found, like:
- https://raw.githubusercontent.com/ory/hydra/v1.9.0-alpha.0.pre.2/.schema/config.schema.json
- https://raw.githubusercontent.com/ory/hydra/v1.9.3-pre.5/.schema/config.schema.json
- https://raw.githubusercontent.com/ory/hydra/v1.1

[2021-09-16 11:04] aeneasr commented on #2748
Hello there, pre versions are test releases to ensure that the pipeline works. These releases are not published and deleted after successful runs so they are also not published in the schema store!

Are they referenced somewhere and if so could you link those references please? Thank you!

[2021-09-16 12:53] aeneasr commented on #2319
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-16 12:53] #2319 closed

[2021-09-16 13:25] Benehiko commented on #2734
I will take a look at fixing this

[2021-09-16 16:27] Benehiko commented on #2734
Some more information after debugging this for a while. I traced the error to `gobuffalo/pop` not throwing an error on PostgreSQL and MySQL. This doesn't happen with CockroachDB since it runs the `AfterOpen` command which executes a transaction against the database for additional information about the database. See [gobuffalo/pop connection.go](https://github.com/gobuffalo/pop/blob/33f2d5c4a214cb8

[2021-09-19 19:26] aeneasr commented on #2086
I am closing this issue as it has not received any engagement from the community or maintainers in a long time. That does not imply that the issue has no merit. If you feel strongly about this issue

- open a PR referencing and resolving the issue;
- leave a comment on it and discuss ideas how you could contribute towards resolving it;
- open a new issue with updated details and a plan on resolvin

[2021-09-19 19:26] #2086 closed

[2021-09-19 19:28] #2385 closed

[2021-09-20 09:58] miroljub1995 commented on #2748
For example here: https://github.com/ory/hydra/blob/v1.10.6/.schema/version.schema.json#L241
Schemastore is referencing v1.10.6, but v1.10.6 is referencing some pre versions.

[2021-09-20 10:17] aeneasr commented on #2748
@zepatrik shouldn't those be skipped by now?

[2021-09-20 10:27] zepatrik commented on #2748
https://github.com/ory/cli/blob/d460a89e8adce046ebb55ac306d2fd8ebdaa2066/cmd/dev/schema/render_version.go#L37-L40

They should be skipped :thinking:

[2021-09-20 10:29] zepatrik commented on #2748
and btw, it is fixed in the schemastore now again: https://github.com/SchemaStore/schemastore/pull/1838

[2021-09-20 11:23] #2498 closed

[2021-09-20 11:24] #2423 closed

[2021-09-20 13:38] #2748 closed

[2021-09-20 16:42] #2436 closed

[2021-09-21 00:05] github-actions[bot] opened #2761 "upstream reference closed: github.com/ory/hydra/issues/2436"
The upstream [issues](https://github.com/ory/hydra/issues/2436) got closed. It is referenced in:
- [ ] [cmd/cli/handler_import_jwk_test.go#L49](https://github.com/ory/hydra/blob/e874f4f300012f363c0bdf685458d0c56c5a8477/cmd/cli/handler_import_jwk_test.go#L49)

This issue was created by the [ORY Closed Reference Notifier](https://github.com/ory/closed-reference-notifier) GitHub action.

[2021-09-21 05:40] aeneasr commented on #1022
Marked as stale in error.

[2021-09-21 05:40] aeneasr commented on #1050
Marked as stale in error.

[2021-09-21 05:41] aeneasr commented on #1218
Marked as stale in error.

[2021-09-21 05:42] aeneasr commented on #1482
Marked as stale in error.

[2021-09-21 05:43] aeneasr commented on #1553
Marked as stale in error.

[2021-09-21 05:59] aeneasr commented on #1760
Marked in error.

[2021-09-21 06:01] aeneasr commented on #1831
Closed in error

[2021-09-21 06:01] aeneasr commented on #2124
Closed in error

[2021-09-21 06:02] aeneasr commented on #2020
PATCH is now available!

[2021-09-21 06:04] aeneasr commented on #2229
Marked as stale in error.

[2021-09-21 06:05] aeneasr commented on #2057
Closing as resolved in #2473

[2021-09-21 06:05] #2057 closed

[2021-09-23 05:08] akshaybharambe14 commented on #2489
I am not able to reproduce this with latest version v1.10.6.

[2021-09-23 05:20] kuttas commented on #2489
Just tried `go get -d github.com/ory/hydra` and I can confirm that it's trying to get v.1.10.6 and it works fine now.

I noticed from the output logs it doesn't seem to depend on `ory/cli` or `ory/kratos` anymore. Coincidence, or related to the fix?

https://pastebin.com/uyd5KSpM

[2021-09-23 05:48] #2489 closed

[2021-09-23 22:34] dan2kx opened #2766 "How do i get the Logout flow to work?"
Im running Hydra and Kratos in a development environment using docker and a simple/default config and i don't seem to be able to get the logout flow to work as intended.

I have configured my third party client in Hydra by running the command:
[code]

From the third party app i initiate a logout sequence when a user clicks a logout button:
[code]

I'm expecting that the browser is redirected to hy

[2021-09-24 12:16] MatthieuCoder opened #2767 "Multiple config files"
**Is your feature request related to a problem? Please describe.**

I'm trying to run Hydra in Kubernetes using Vault as a DSN provider; for other containers i just change the startup script and load the environment variables using `source`, but the hydra container does not includes sh

**Describe the solution you'd like**

I'm thinking about multiple config files (like docker-compose does), so I

[2021-09-24 13:43] zepatrik commented on #2767
Can't you start the container with the env vars already set? That is the intended way of doing this.

[2021-09-24 13:44] MatthieuCoder commented on #2767
No, The vault-injector only creates shared volumes using a init-container (and a sidecar for updating the file)

[2021-09-24 13:46] zepatrik commented on #2767
I see, maybe @Demonsthere or @piotrmsc know some workaround? Otherwise, I think there is no problem with supporting multiple config files, it is just a bit work to properly implement it.

[2021-09-24 13:50] zepatrik commented on #2767
Just looked into the code, it should already support multiple config files :thinking:
Provide them with multiple `hydra serve -c foo.yml -c bar.yml`

[2021-09-24 13:51] MatthieuCoder commented on #2767
That's sweet! Should this be an option in the helm chart ?

[2021-09-24 13:52] zepatrik commented on #2767
Probably, if it is not yet possible.

[2021-09-30 12:25] #1756 closed

[2021-09-30 21:23] masoudtahmasebi93 commented on #2732
Since it was just documentation, Based on the comment from the issue opener I tried to make it correct, if there is anything that needs correction I would be happy to make changes.

[2021-10-01 07:49] #2766 closed

[2021-10-01 07:59] #2732 closed

[2021-10-03 09:18] Gituser143 commented on #2642
Hi! I'd like to contribute to this. Can I take it up?

[2021-10-03 10:29] aeneasr commented on #2642
Yes! :)

[2021-10-04 09:30] StefanVrecic opened #2778 "Tying in client with provider using ory-hydra?"
Don't understand how to tie in oidc client with provider?

Have followed the 5 min tutorial and implemented a provider, so I can login/logout/consent and get the tokens at redirect.

Now I want to tie it in with a demo client, let's say puppywebsite.io

Then I want to log into puppywebsite.io ... But in 5 min tutorial flow goes through 'http://127.0.0.1:5555/' which calls 'http://127.0.0.1:4444/oa

[2021-10-05 14:08] grantzvolsky opened #2781 "UUID type for hydra_client primary key"
**Is your feature request related to a problem? Please describe.**

Currently, the primary key of the hydra_client table is an integer sequence. Since we don't benefit from the guarantees that a sequence provides, it would be better to just use UUID, to reduce insert complexity[1] and avoid other potential issues[2].

**Additional context**

The hydra_client table has a public ID (`id`) and an int

[2021-10-05 14:15] aeneasr commented on #2781
👍

[2021-10-06 09:07] #2642 closed

[2021-10-06 15:51] goshlanguage opened #2783 "KPI related metrics"
**Is your feature request related to a problem? Please describe.**

First, thanks for hydra. In our evaluation, we've found it to be a great tool.

One thing I'm having difficulties with is monitoring. There are many go based metrics and some others available in the metrics endpoint, but I'd be curious to know if other metrics would be a welcomed pr, and if so what KPIs (key performance indicators

[2021-10-07 11:32] idivyanshbansal commented on #2166
If I am going correct then can I continue on this issue?

![screencapture-github-idivyanshbansal-html-404-blob-main-README-md-2021-10-07-17_01_16](https://user-images.githubusercontent.com/86911142/136376004-7821ba5d-4710-45db-993d-467997ea365d.png)

[2021-10-08 18:14] sidharthramesh commented on #2663
Also, docker based QEMU emulation is available, but seems like the container should run in privileged mode: https://medium.com/@artur.klauser/building-multi-architecture-docker-images-with-buildx-27d80f7e2408

[2021-10-10 16:05] aeneasr commented on #2663
phew... no idea to be honest.

[code]

This usually means that the binary format does not match the architecture it's running on, afaik

[2021-10-12 03:00] webB1an commented on #1902
Hi!@mrguamos, I'm also confused by how to configure `post_logout_redirect_uri `

Can you give me any ideas?

Thanks!

[2021-10-12 14:05] grantzvolsky opened #2788 "UUID type for hydra_jwk primary key"
**Is your feature request related to a problem? Please describe.**

Currently, the primary key of the hydra_jwk table is an integer sequence. Since we don't benefit from the guarantees that a sequence provides, it would be better to just use UUID, to reduce insert complexity[1] and avoid other potential issues[2].

**Additional context**

The primary key is not used in foreign keys, so it can be c

[2021-10-12 22:32] grantzvolsky opened #2790 "Migration change_client_primary_key.mysql.down.sql fails to apply"
**Describe the bug**

The migration contains invalid MySQL. Applying it produces the following error:

`Error in query (1064): Syntax error near 'TO pk_tmp' at line 1`.

**Reproducing the bug**

1. Run `make test-resetdb`
2. `go run -tags sqlite . migrate sql "mysql://root:secret@(127.0.0.1:3444)/mysql?parseTime=true&multiStatements=true"`
3. Execute `./persistence/sql/migrations/20211004110001000

[2021-10-13 00:00] grantzvolsky opened #2792 "Refactor generated UUID test"
Currently in v2.x, we ensure that application code-generated UUIDs have the correct version and variant in [migration_test.go](https://github.com/ory/hydra/blob/09ac91bd3aedc00945b669e21a635207c9e06c45/persistence/sql/migratest/migration_test.go#L148), which is not ideal, because UUID generation is unrelated to migrations.

**Describe the solution you'd like**

Test UUID generation as part of [per

[2021-10-13 18:00] idivyanshbansal opened #2797 "Debugging grammatical error in readme file"
**Describe the bug**

A clear and concise description of what the bug is.

**Reproducing the bug**

Steps to reproduce the behavior:

_Server logs_

_Server configuration_

**Expected behavior**

A clear and concise description of what you expected to happen.

**Environment**

- Version: v1.2.3, git sha hash
- Environment: Debian, Docker, ...

**Additional context**

Add any other context about th

[2021-10-15 11:04] Librechain opened #2805 "ed448 support for jwk keys?"
Asking about this since the NSA recently published guidance advising the public and private sectors to transition to cryptographic algorithms that are no less than sha384 & ec384 (elliptic curves).

While Edwards' Curves are different, its worth noting that prior to this update sha256 & secp256k1 were both on the list of acceptable cryptographic algorithms. My deduction was that 128-bit security i

[2021-10-15 12:53] vinckr opened #2806 "Ory Summit 2021 - 28th/29th October Dev Conference"
Hello, Ory Community :wave:
We are excited to invite you to our first developer conference [Ory Summit](https://www.ory.sh/summit21)!

Taking place on October 28th and 29th, 2021.

[Sign-up here](https://www.ory.sh/summit21)

The two-day event is free to attend and virtual.

Topics range from open source, integrating Ory, building robust authorization and authentication to best practices for moder

[2021-10-16 06:44] amaaniqbal commented on #2453
@aeneasr Should I create a PR with the same changes to the `master` branch?

[2021-10-16 09:01] aeneasr commented on #2453
That PR is from 2017, thats 5 years ago - it probably won’t work ;)

[2021-10-16 09:18] amaaniqbal commented on #2453
Oh okay, I missed the date on the PR 😅.

[2021-10-21 00:02] #1926 closed

[2021-10-21 00:02] #1741 closed

[2021-10-21 00:02] #1142 closed

[2021-10-22 11:16] lukasz-walkiewicz opened #2816 "In-memory Sqlite DB is loosing data while Hydra is running"
I've noticed that when using Hydra `DNS=memory` the internal Sqlite database losses data even when Hydra container hasn't been restarted and it's up and running without any interruptions. Tested on: `oryd/hydra:v1.9.0-sqlite` and `oryd/hydra:v1.10.6-sqlite`. I haven't observed anything like that when using PostgreSQL database.

**Reproducing the bug**

Steps to reproduce the behavior:
1. Run `oryd

[2021-10-26 14:27] Conduitry opened #2820 "Login request admin endpoints are unaware of login request having expired"
**Describe the bug**

Hydra Admin endpoints do not appear to be aware of when a login request has already expired. Depending on OpenID client configuration, this will result in an error message being displayed to the end user that the identity provider using Hydra has no way of knowing about or guarding against.

**Reproducing the bug**

Steps to reproduce the behavior:

1. Initiate a login using

[2021-10-28 19:28] Conduitry opened #2824 "Login request not fully marked as used until browser navigates to /oauth2/auth"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-10-30 16:47] tacurran opened #2829 "Add list of authors from git commit to an author file including name and email address"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-10-31 14:07] #2806 closed

[2021-10-31 14:19] svrakitin commented on #2824
The 409/410 response includes original request url which you can use to restart auth flow with a new login challenge instead of failing.

[2021-10-31 23:23] Conduitry commented on #2824
The 410 response that I get from `GET /oauth2/auth/requests/login` after the browser has visited `/oauth2/auth` includes a `redirect_to` value, yes.

But no, the 409 response I'm getting from `PUT /oauth2/auth/requests/login/accept` (when the browser hasn't visited `/oauth2/auth`) that I'm describing here is just `{"error":"Unable to insert or update resource because a resource with that value exi

[2021-10-31 23:59] svrakitin commented on #2824
I think we just need to make responses more consistent for already handled requests. Meaning that 409 on accept should return redirect location as well as 410 on get.

[2021-11-01 09:43] tacurran opened #2832 "add shellcheck to circleci"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-01 09:49] aeneasr commented on #2832
PRs welcomed :)

[2021-11-01 10:11] aeneasr commented on #2824
Agreed @svrakitin !

[2021-11-01 10:11] aeneasr commented on #2824
Contribs welcomed :)

[2021-11-01 11:19] grantzvolsky commented on #2829
Based on a brief survey of how other projects give credit to contributors, these are some common options:

1. Use the author metadata that is submitted included in git commits. It is possible to remove duplicates using [mailmap](https://git-scm.com/docs/gitmailmap), a feature built into git.

2. List people who signed the CLA in a CONTRIBUTORS file and the copyright holders in an AUTHORS file. See

[2021-11-01 11:50] Conduitry commented on #2824
Is there a way to make this situation fail at the GET? Is there a reason not to? It would be nice to not have to hit my database/other services/etc. while verifying the user's login if accepting the login request is going to fail anyway.

[2021-11-01 11:53] aeneasr commented on #2824
Yeah, we could return a 409 Conflict with a dedicated error message and a `return_to` which returns to the correct URL to re-initiate the flow!

[2021-11-01 11:59] #2453 closed

[2021-11-01 18:06] #2585 closed

[2021-11-03 01:11] hirasawayuki commented on #2832
@aeneasr Can I take this?

[2021-11-03 06:26] aeneasr commented on #2832
yes:)

[2021-11-03 14:47] spg opened #2837 "Release @ory/hydra-client@v1.10.7 on NPM"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-05 15:00] grantzvolsky opened #2843 "Phase out client.OutfacingID"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-07 09:22] hirasawayuki commented on #2805
I wanted to try it, but the standard Go package doesn't seem to support ed448.
Is it possible to use third-party packages?

For example: https://github.com/otrv4/ed448

[2021-11-08 16:22] aeneasr commented on #2805
Oh I see, in that case I don't think it makes sense to work on this. We will only accept PRs using the go standard library or golang.org/x for cryptography-related things due to the high risk of vulnerabilities in third party code related to cryptographic functions.

[2021-11-09 05:19] ludydoo opened #2845 "Add token_prefixes"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-09 07:36] aeneasr commented on #2845
Thank you for the idea!  Please note that this will only work for opaque tokens, so when not using the JWT strategy. It will also not work for ID tokens!

But for refresh and access tokens this could work :) Do you have a concrete use case in mind?

[2021-11-09 08:26] #2832 closed

[2021-11-09 18:59] sidharthramesh opened #2847 "Custom session fields along with user_token and access_token"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-09 19:31] sidharthramesh commented on #2847
For reference, as per [RFC6749 Section 4.1.4](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.4), additional parameters (example_parameter) are allowed in the response:
[code]

Okta also has an [implementation of SMART on FHIR](https://github.com/oktadev/okta-smartfhir-docs#reference-implementation--standards-used) on their platform.

[2021-11-09 21:30] brat002 commented on #2193
You can continue reject these requests but you can't reject presence of bots and backend flows which require ROPC flow. It is not a variant to create clients in hydra database and use client_credentials grant for them.
We all need an ability to exchange user credentials to JWT token within scripts and workers. At least RFC describes this flow.

[2021-11-10 11:47] StarAurryon opened #2850 "Watching tls cert/key file changes to reload the server automatically"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-11 08:02] aeneasr commented on #2850
PRs welcomed :) Technically, I think this probably needs a HTTP server restart which might be difficult (but probably achievable) to implement given the way how we bootstrap.

It will need a lot of tests to ensure the restart happens cleanly (e.g. no left-over config instances, no left-over FS watches, etc).

[2021-11-12 06:37] lazycipher commented on #1253
@woutor, I'm new to the docker thing.
Can you explain how to set it up?
How does your `heroku.yml` look?

[2021-11-15 12:40] mitar commented on #2816
I have zero knowledge what Hydra does, but I can share some experience here with me observing something similar inside our own test suite which has been using Sqlite: Go threads do not work well with Sqlite. So by default each thread gets its own memory Sqlite instance. So then if you hit request inside one Go thread and create a table/populate data, and then next request tries to access it, but i

[2021-11-15 12:54] mitar opened #2857 "Persister.transaction does not rollback on panic"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-15 13:01] zepatrik commented on #2857
True, it would be way cleaner to handle the rollback. Anyone working on this, please make the changes in https://github.com/ory/x/blob/master/popx/transaction.go and then use that function in Hydra instead of the current transaction implementation.

[2021-11-15 14:42] mitar opened #2859 "SQL persister uses | to store scopes and audiences without any escaping"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-15 15:58] zepatrik commented on #2850
One could also not re-initialize everything, but instead keep the registry and just start a new `http.Server` that uses the same handlers? That results still in a short down-time I assume, but if you instead keep the same `net.Socket` and only create a new server it could even happen with zero downtime?

[2021-11-15 16:10] StarAurryon commented on #2850
I don't know how go handle the closing of the http server. I hope that it finalizes current requests properly. After that clients might have their tls session dropped as the key/cert will be changed. I don't know how this is handled with HTTP2 as multiple requests can use the same TCP session, if i am not wrong.

I believe that's the way to go as you don't have to check again if the port is alread

[2021-11-15 16:54] aeneasr commented on #2859
Good point and thank you for the thorough review! I'd like to add though that spaces ` ` are reserved (iirc) for `scope` but are not reserved in other parts. `aud` (a JWT claim) is `StringOrURI` which does not have a distinguished character set - it's a plain string:

      A JSON string value, with the additional requirement that while
      arbitrary string values MAY be used, any value containi

[2021-11-15 16:58] aeneasr commented on #2816
Oh, that's really useful @mitar ! I think we should update our default in-memory DSN to match your findings: https://github.com/ory/x/blob/master/dbal/dsn.go#L9

I am not sure if we use this DSN string actually in Ory Hydra but we definitely should. Contributions welcomed! :)

[2021-11-15 23:28] mitar commented on #2857
I am not familiar with popx, but I would suggest that this function here is changed to:

[code]

[2021-11-16 12:15] alex-pobeditel-2004 opened #2861 "CORS settings for public endpoints are ignored"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-16 19:01] #2829 closed

[2021-11-17 11:44] mitar commented on #1831
Just to add another perspective here, maybe instead of using a grace period, [idempotency keys](https://brandur.org/idempotency-keys) is what should be implemented instead. That is not covered by any standard though, but it could be an opt-in extension, if you use idempotency key header, then you enable this behavior.

[2021-11-17 21:11] pharman commented on #2514
We have a very similar problem with our system. Data size is up to >1TB.  Access & refresh tokens are now under control with the latest janitor but the requests and related tables are growing as described above. I think having some options in Janitor to be a little more aggressive in selecting request records may be needed.

[2021-11-18 08:24] Emin3mU opened #2863 "Deploy Hydra in k8s failed"
### Preflight checklist

- [X] I could not find a solution in the existing issues, docs, nor discussions.
- [X] I agree to follow this project's [Code of Conduct](https://github.com/ory/hydra/blob/master/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/ory/hydra/blob/master/CONTRIBUTING.md).
- [ ] This issue affects my [Ory Clou

[2021-11-18 09:50] aeneasr commented on #2514
1TB? Damn! What system are you running? :D @grantzvolsky is refactoring the internals over at https://github.com/ory/hydra/pull/2796 and a big part of that is changing the data structure of consent/login/session. So we are doing an architectual fix rather than trying to come up with the smartest clean up routines. It will take some time though for this to get released.

[2021-11-18 12:49] pharman commented on #2514
Ah that is good to know. I guess we will need to run some manual queries to clean up stuff we don't want in the meantime.

[2021-11-19 08:01] aeneasr commented on #1831
Thank you for the idea - the concept looks really interesting. I'm not sure if it addresses the issue we have here though. The proposed standard prevents resending the same payload twice, as the idempotency key will only allow one request to pass.

We do have an idempotency key already! It's the refresh token! If you re-use the refresh token, the request fails.

The problem described here is that

[2021-11-19 13:27] winterheart commented on #2018
Hi. CockroachDB recently changed license from permissive Apache 2.0 License to more restrictive Business Source License, that can be serous obstacle to future users of Ory. Have you reviewed other solutions like Cassandra/Scylla?
As I see, most of features of commercial CRDB supports by Open Source Cassandra, like geo-replication and sharding. Data replicates between data-centers as is, without ad

[2021-11-19 13:31] aeneasr commented on #2018
Apache Cassandra is not wire-compatible with any established SQL dialect such as MySQL or PostgreSQL. Therefore it is extremely unlikely for this to ever be considered as it is too much effort and there are new databases with wire-compatibility spawning by the month.

On a side note, CRDB has a process to convert BSL to APL-2.0, so you can still use CRDB with APL-2.0 license, you just can't use th

[2021-11-21 00:33] xiaofei-du commented on #620
Hi, @aeneasr, I am using the Golang SDK `hydra-client-go v1.10.6`, when I patch a client by

[code]
The returned `r.Payload.ClientSecret` is not empty but looks like a hashed form of the secret. Is it an expected behaviour or am I doing something wrong?

Thanks.